[2019-11-28 00:18] danry25 opened #1 "Add setup instructions"
Some instructions on how to set up NumberSearch would be nice!

[2019-11-28 00:19] danry25 opened #2 "SignalWire DID search support"
Add support for searching through SignalWire's DID inventory (and deduplicate DIDs of course!).

https://docs.signalwire.com/

[2019-11-28 00:20] danry25 opened #3 "Endstream DID search support"
Endstream does have a slow, SOAP API, but the numbers they have available through it can be found nowhere else.

[2019-11-29 04:11] danry25 opened #4 "Improve String Highlighting"
Ideally we would handle searches like `to**1` where a result for (309) 886-0012 would have a subtext of (309) 8**to**-00**1**2 below the number result.

[2019-11-29 04:12] danry25 opened #5 "Cart system"
Implement a cart system so users can select multiple numbers. Perhaps allow the user to write a note about what each number is for (and capture the search query they used to find the number?).

[2019-11-29 04:16] danry25 opened #6 "Pass the unmodified search query through to the results page"
Searching for a word returns that word translated into digits prefilled in the search field, rather than the original query. To ensure users are not disoriented by our number search we should return the original search query prefilled in the search field.

[2019-11-29 04:23] danry25 opened #7 "Show a message or quip while searching for available numbers"
Searching takes a few seconds to tens of seconds for a result to be returned. Perhaps we should show a loading message while waiting for upstream carrier APIs to respond.

A message like "Searching for phone numbers..." would work

[2019-11-29 18:54] #6 closed, assigned to danry25

[2019-11-29 20:25] #7 closed, assigned to uncheckederror

[2019-11-29 20:27] uncheckederror opened #8 "Scrape Vendor APIs for Available Numbers"
@danry25 Right now the limitation on speed is due to the latency of the TeleAPI that this application is dependent on.

Ideally we would scrape all of the data required for this app once a day from the TeleAPI and then cache it in a database like SQLite or PostgreSQL so that we can control performance.

_Originally posted by @uncheckederror in https://github.com/uncheckederror/NumberSearch/issues/

[2019-12-04 03:29] uncheckederror opened #9 "Create a shared Data Access library"
Break the data models out into a dotnet standard 2.1 library called NumberSearch.DataAccess  to be shared between multiple projects.

_Originally posted by @uncheckederror in https://github.com/uncheckederror/NumberSearch/issues/8#issuecomment-561449507_

[2019-12-04 03:30] uncheckederror opened #10 "Create a Console App to ingest data into PostgreSQL"
Create a console app called NumberSearch.Ingest that can be run daily to ingest data into PostgreSQL.

_Originally posted by @uncheckederror in https://github.com/uncheckederror/NumberSearch/issues/8#issuecomment-561449507_

[2019-12-04 03:32] uncheckederror opened #11 "Integrate a mail client that can handle the order creation process."
Integrate a mail client into NumberSearch.Mvc that can handle the order creation process.

_Originally posted by @uncheckederror in https://github.com/uncheckederror/NumberSearch/issues/8#issuecomment-561449507_

[2019-12-09 17:38] #9 closed, assigned to uncheckederror

[2019-12-09 17:49] uncheckederror opened #12 "Integration Test for the LRNLookup model is Failing"
It looks like this baseUrl https://lrn.teleapi.net/ which is part of the old TeleMessage API doesn't have a valid SSL cert which is causing this test to fail. It's on TeleMessage to fix this issue, but I would like to keep an eye on it.

[2019-12-14 03:48] #10 closed, assigned to uncheckederror

[2019-12-14 03:52] uncheckederror opened #13 "Integration test for the FirstCom API is failing"
This worked 2 weeks ago, but now it fails to return any result with the error message: "Invalid Webservice Authentication"

But the auth credentials are the same and I verified that the credentials work in the soapclient.com client.

[2019-12-16 00:53] #5 closed, assigned to nobody

[2019-12-16 01:02] uncheckederror opened #14 "Invalidate Ingested Phone Numbers that are not re-Ingested"
We don't want customers to see stale data that can't actually be purchased. Every time we run the ingest process we need to remove the numbers that were not found again.

I see a few ways to do this:

* TRUNCATE the existing PhoneNumbers table before ingesting the new numbers.
* Keep track of the ingest date of each number and remove them from the table after a period of time.
* Compare the existi

[2019-12-16 21:05] #14 closed, assigned to uncheckederror

[2019-12-18 01:39] #13 closed, assigned to uncheckederror

[2020-01-02 21:46] #12 closed, assigned to nobody

[2020-01-03 21:15] uncheckederror opened #15 "Paginate search results"
Right now if you use a blank query or a single * it will return all of the numbers available in the database. This is not ideal because it will crash most browsers.

[2020-01-03 21:16] #2 closed, assigned to nobody

[2020-01-03 21:30] uncheckederror opened #16 "Add App Insights to Capture Telemetry"
We need to know what request are failing and our users are doing with NumberSearch. App Insights is an Azure service that will handle all of this for us.

[2020-01-04 01:48] #16 closed, assigned to uncheckederror

[2020-01-04 01:49] #15 closed, assigned to uncheckederror

[2020-01-05 21:36] #11 closed, assigned to uncheckederror

[2020-01-05 21:36] #8 closed, assigned to nobody

[2020-01-05 21:37] #3 closed, assigned to uncheckederror

[2020-01-05 21:38] uncheckederror opened #17 "Create systemd unit file"

[2020-01-05 21:39] uncheckederror opened #18 "Create a process to automatically run the Ingest"

[2020-02-06 18:50] uncheckederror opened #19 "Reasons to add Authentication and Authorization"
To help the customer support team verify that an order has been made we need a page that is an index of all the orders that have been submitted to NumberSearch.

[2020-02-06 18:52] uncheckederror opened #20 "Add a graph to the Ingests page"
While the card format is useful for reviewing the ingests, a graph of the ingest results would be more useful. Perhaps we could have a graph of the past 2 weeks of ingests as the head for this page and then a simple, dense table of ingests below it for more detailed information.

[2020-02-09 07:42] #17 closed, assigned to danry25

[2020-02-10 01:42] #18 closed, assigned to danry25

[2020-03-22 21:22] uncheckederror opened #21 "Create an Onboarding page"
Create a page so that new customers can be on-boarded to Accelerate Networks by sales and support reps.

[2020-04-05 16:17] uncheckederror opened #23 "Add Proper Security Headers"
Right now we don't pass this test: [https://securityheaders.com/](https://securityheaders.com/)

Ideally we would. For more info read this blog: [https://www.hanselman.com/blog/EasilyAddingSecurityHeadersToYourASPNETCoreWebAppAndGettingAnAGrade.aspx](https://www.hanselman.com/blog/EasilyAddingSecurityHeadersToYourASPNETCoreWebAppAndGettingAnAGrade.aspx)

[2020-04-06 19:14] danry25 opened #24 "Erxes Integration"
We use Erxes to handle our clients and leads. Perhaps an integration would be useful, prepopulating a company and customer when an order is submitted. [API Docs](https://docs.erxes.io/developer/graphql-api) & [Erxes API](https://github.com/erxes/erxes-api) are here.

[2020-04-06 19:43] danry25 opened #25 "Order DIDs with upstream vendor when user sends us an order"
We should buy a DID with the upstream vendor when it is ordered through Number Search. Below are the API endpoints and details to do so.

1st Point: Use [SOAP Method DIDOrder](http://soapclient.com/soapclient?template=%2Fclientform.html&fn=soapform&SoapTemplate=%2FSoapResult.html&SoapWSDL=http%3A%2F%2Fapi.1pcom.net%2Fws2%2FDIDManagement.asmx%3Fwsdl&_ArraySize=2) on http://api.1pcom.net/ws2/DIDMana

[2020-04-08 02:37] uncheckederror opened #26 "Added Business Name and Contact Role/Title Fields to the Contact Form"
We need to add to additional fields to the general contact form. We need the business name and the title or role of the person that is reaching out to contact us.

[2020-04-08 16:28] uncheckederror commented on #26
This is resolved in b643edd.

[2020-04-08 16:28] #26 closed

[2020-04-08 16:46] uncheckederror commented on #23
This is at least partially addressed in 080ac99.

[2020-04-08 21:23] uncheckederror commented on #23
The site now has an "A" security headers rating.

[2020-04-08 21:23] #23 closed

[2020-04-09 15:21] #21 closed

[2020-04-09 15:21] uncheckederror commented on #19
To add this to the product we would need to create user accounts.

[2020-04-09 15:22] uncheckederror commented on #1
@danry25 Can you add your deployment script to this repository?

[2020-04-09 15:41] uncheckederror opened #27 "Add a Cart System"
In order to enable the purchase of multiple phone numbers and associate the purchase of phone numbers with on-boarding orders we need a cart system to track what items the user is selecting.

[2020-04-14 23:05] uncheckederror commented on #20
This looks like a good template for the chart:

https://observablehq.com/@d3/multi-line-chart

[2020-04-15 22:20] uncheckederror commented on #27
The cart system is now complete as of 369b0d7

[2020-04-15 22:20] #27 closed

[2020-04-15 22:23] uncheckederror opened #28 "Enable the submission of Phone Numbers to be Ported in"
Right now there's no way for some one to submit a phone number that they would like to Port into their cart. This would be a good piece of functionality to add as Phone Numbers are commonly ported in when customer's are onboarded.

[2020-04-17 02:26] danry25 commented on #28
Here is the API doc to do a LNP check with Teli: https://apidocs.teleapi.net/lnp-portability/check-number-portability.html

There are a few other vendors out there, but for numbers that fail that test (nearly exclusively rural telecoms) we can manually process the client's order.

[2020-04-17 02:43] danry25 opened #29 "Fix Number Ingest"
@uncheckederror Please debug and fix the Ingest function

[2020-04-17 02:45] danry25 commented on #1
I think this is complete pending #29, at which point the readme will need the cronjob updated.

[2020-04-17 02:45] #1 closed

[2020-04-18 18:47] uncheckederror commented on #28
I have implemented the porting process in 9a5af6b. This process does not use the Teli API, rather it merely verifies that the number doesn't already existing in the database and that it's a valid 10 digit number before allowing it to be added to the cart.

[2020-04-18 22:57] uncheckederror commented on #28
I've added the portability checker call in 92d5690.

[2020-04-18 22:57] #28 closed

[2020-04-21 16:33] uncheckederror commented on #29
The ingest now appears to be working correctly after rebuilding the auto-generated soap clients and getting Harel to fix FirstCom credentials.

[2020-04-23 21:35] danry25 opened #30 "Collect information required to process a port request"
In addition to the information we collect on #28, we also need to gather the following information to port a phone number. Ideally, we would have a review queue where an employee would check a port request before it is [submitted to this API](https://apidocs.teleapi.net/api/lnp-portability/create-order).

Often, clients do not know all of this information or provide us the billing address or an in

[2020-04-27 17:07] uncheckederror commented on #30
@danry25 To implement some sort of review queue we would need to have authentication and authorization for internal customers.

How would we test the Porting API to make sure our code is working correctly?

[2020-05-02 04:35] uncheckederror commented on #20
Perhaps we could use this library instead of D3: https://www.chartjs.org/docs/latest/charts/line.html

[2020-05-02 06:13] danry25 commented on #30
Perhaps its best to just put it in an email or post to Erxes API then? That avoids auth and testing entirely. I don't want to stuff the review queue at Teli with needless ports...

[2020-05-02 18:28] uncheckederror commented on #30
Yes, perhaps we should revisit those issues in the future.

For the initial implementation an email will be sent to Erxes for the order, which will include the numbers to port.

And then a second email will be sent to Erxes with a list of the phone numbers to port once they fill out the porting information.

The handling of the order and the porting request will remain once it reaches Erxes.

[2020-05-02 18:32] uncheckederror commented on #25
At this point we are continuing to handle this process manually by sending the order to the Erxes CRM and having a human handle it. When the sale volume of phone numbers increase in the future, we will have to revisit this.

[2020-05-02 18:35] uncheckederror commented on #24
Is the idea here to take the info we are currently sending by email and send it via this API instead?

[2020-05-02 22:40] uncheckederror commented on #20
I added a graph using chart.js in 7349f47.

[2020-05-02 22:40] #20 closed

[2020-05-03 01:48] danry25 commented on #25
This is a very risky strategy, as a good number can be purchased by a competitor between when an order is placed and when we manually process the order.

[2020-05-03 01:49] danry25 commented on #24
Yes, exactly. We could even turn it into a todo item with checkboxes and such.

[2020-05-08 04:53] danry25 opened #31 "Update home page with an active background"
We created some marketing videos in early 2020 that are in Nextcloud (shared with @uncheckederror), perhaps we could make the homepage default to rolling through those and push the current carousel of phones further down the page?

Likely need to convert the videos to webm, gifv or some other web friendly format...

[2020-05-09 05:13] uncheckederror commented on #31
If we're going to use this video to loop as the background on the website we need a tighter edit.

The first 20 seconds could be dropped. The first frame needs to contain the accelerate networks logo.

This background video is a hard sales pitch that needs to communicate two things to the viewer: Accelerate Networks and desk phones. Every shot in the video should contain either a the logo or a pho

[2020-05-19 19:23] uncheckederror commented on #31
This change with the 21:9 video has been committed.

[2020-05-19 19:27] uncheckederror opened #32 "Update the BulkVS ingest process to use Custom XML Parsing"
Right now we're using a hacked up version of the tools in the framework's XMLSerialization library to ingest data from BulkVS. But it was designed to consume SOAP services built on the framework, so it doesn't work well with the BulkVS SOAP API and its variable response format. We can improve the reliability of this process by using the framework only to capture the raw XML and then writing a cust

[2020-05-21 17:30] uncheckederror commented on #32
This won't work because the XML returned by this endpoint is missing a closing tag on the result element, so it can't be mapped to a string by the autogenerated client. We'll have to come up with another way.

[2020-05-21 17:30] #32 closed

[2020-05-21 17:53] uncheckederror commented on #29
The ingest process seems to have quit running on the 9th. https://acceleratenetworks.com/ingest

[2020-05-22 16:01] uncheckederror commented on #31
This has been deployed to the public website.

[2020-05-22 16:01] #31 closed

[2020-05-22 16:10] uncheckederror commented on #30
This process is partially implemented.

The remaining work items are:

1. The file upload for the image of the bill.
2. The file upload for the customer's Signature.
3. Create a database table to store this information.

[2020-05-23 20:13] uncheckederror commented on #30
Dropping the requirement for a signature. Adding a new requirement for an account PIN or password.

[2020-05-24 03:50] uncheckederror commented on #30
This work has been committed in 137ff4d. The billing image is current saved to the web server as a temporary file and then dis-guarded. We need to work out where to store the billing images.

[2020-05-25 00:08] uncheckederror commented on #30
Rather than saving the file some where the requirement is to attach it to an outgoing email and send it off immediately.

[2020-05-25 00:10] uncheckederror opened #34 "Add a robots.txt file"
The telemetry shows consistent requests failing to find a robots.txt file. We should add one to appease these bots.

[2020-05-25 19:18] uncheckederror commented on #34
This is fixed in 14571dc

[2020-05-25 19:18] #34 closed

[2020-05-26 04:05] uncheckederror commented on #30
Images are now being forwarded as email attachments in 27f2c0e

[2020-05-26 04:05] #30 closed

[2020-06-03 23:51] danry25 opened #35 "Add additional hardware"
Could we add the following phones to the hardware page?
- Polycom Soundstation IP 7000 ($300ea, [picture](https://www.teledynamics.com/tdresources/11315553-a8da-4a45-b632-b8ced825957d.jpg))
  - Description: Light up your conference room with the vibrant sound quality provided by the Polycom Soundstation IP 7000! Supports 3 way calling, HD Voice & Power over Ethernet.
- Snom PA1 ($150ea, [picture](

[2020-06-04 01:07] danry25 commented on #25
Here is how to order a DID with each vendor:
- [Teli endpoint](https://apidocs.teleapi.net/api/order-phone-numbers/order-single-number), provide token (the API token), number (the DID), call_flow=3110, channel_group=65 and cnam=enabled
- Endstream Endpoint DIDOrder on http://api.1pcom.net/ws2/DIDManagement.asmx to order, then we need to route it to a gateway using DIDRouteVoiceToGatewayBasic (will

[2020-06-07 21:55] uncheckederror commented on #35
This issue is now resolved.

https://acceleratenetworks.com/Hardware

[2020-06-07 21:55] #35 closed

[2020-06-15 03:08] uncheckederror commented on #19
In addition to seeing what orders have been submitted it would also be able to review what phone number purchases have been executed by this app using API integrations.

[2020-06-15 03:11] uncheckederror commented on #19
In order for customer support reps to see what provider a phone number was ingested from we would need to create a page that acts as a simple look up on the PhoneNumbers table.

[2020-06-15 03:46] uncheckederror commented on #25
Implemented the TeleMessage path for automated phone number purchases in 17c92dc.

[2020-07-02 03:54] danry25 opened #36 "Strip leading 1 when number is over 10 digits long"
We should strip the leading 1 from a number that is over 10 digits long. It sounds like we already strip all non-alphanumeric characters, then we convert all non-numeric characters to letters based on our conversation earlier.

[2020-07-02 04:12] danry25 opened #37 "Validate upstream carrier has a number when search occurs"
We should check that a number is still available for purchase when we display available numbers to end users if we have not verified the number is available in the last 15 minutes.

Thinking we can expose a loading spinner while these numbers are verified as available, then use javascript to hide the numbers that are not available? That way we are not bottlenecking page load on these queries.

Sho

[2020-07-02 20:20] uncheckederror commented on #25
The DIDRouteVoiceToGatewayBasic endpoint requires a "GatewayIP" parameter. @danry25 What value should we use?

[2020-07-02 20:21] uncheckederror commented on #25
Implemented the BulkVS path for automated phone number purchases in 88c7b9d.

[2020-07-02 20:35] uncheckederror commented on #37
Currently when an order is submitted for purchase we verify that the numbers in the cart are still available before purchasing them.

To improve the buyer's confidence I propose that we run this same availability check when they try to add the number to their cart in the first place.

Running partial ingests from the web app probably isn't a good idea because it would mix concerns across applicati

[2020-07-02 21:55] uncheckederror commented on #36
You can verify this issue has been resolved here: https://acceleratenetworks.com/Search?Query=12016206241

[2020-07-02 21:55] #36 closed

[2020-07-03 02:34] danry25 commented on #37
I did not realize we ran an availability check when numbers in a cart are checked out, that is quite good!

[2020-07-03 02:36] danry25 commented on #25
I will send the GatewayIP to you out of band, it should be treated similar to an authentication credential like a username and not be committed to the repository. It can change in the future too!

[2020-07-05 05:33] uncheckederror commented on #25
Now that we have validated that setting the Gateway is unnecessary, I have removed that step.

Additionally I have completed my testing of all three purchasing methods and deploy the new build to production.

Please validate that they all work to your satisfaction.

[2020-07-06 04:10] danry25 commented on #25
BulkVS and Endstream seem to work fine, but buying numbers from Teli appears to not work. Wondering if our import of available numbers is just too old from them, IIRC they have an internal ID assigned to each available number.

Here is what I got when trying to order a Teli number:
![Screenshot from 2020-07-05 21-03-12](https://user-images.githubusercontent.com/1683673/86554901-bde61100-bf03-11ea-

[2020-07-06 04:13] danry25 opened #38 "Next Button does not work if on 2nd to last page"
The next button at the bottom of the Numbers page after searching for available numbers appears to be disabled if we are on the second to last page of results. [Here is an example](https://acceleratenetworks.com/Search?Query=425*******&Page=8), scroll to the bottom of the page and try hitting next.

[2020-07-07 01:20] uncheckederror commented on #25
Okay, I've pushed a new build that properly captures the success and failure responses from BulkVS. I've also resolved the bug that was blocking you from purchasing those two numbers from teli, and purchased the first number through the app. Please retest and let me know what you find.

[2020-07-07 01:21] uncheckederror commented on #37
@danry25 Given that we are running a check before we execute the number purchase are you happy with the current state, or do you want to add additional checks?

[2020-07-10 15:23] uncheckederror commented on #38
This is fixed. If you visit the example you can verify that it's been resolved.

[2020-07-10 15:24] #38 closed

[2020-07-10 15:25] uncheckederror commented on #25
@danry25 Please retest all 3 number provider services and verify that the sales are going through on their end.

[2020-07-11 20:12] danry25 commented on #25
It seems I can't check out a mixed cart reliably, I had to remove 4259063030 since this number was no longer available on BulkVS:

![Screenshot from 2020-07-11 13-03-47](https://user-images.githubusercontent.com/1683673/87232967-05432600-c378-11ea-8d51-d60fbf682798.png)
![Screenshot from 2020-07-11 13-03-30](https://user-images.githubusercontent.com/1683673/87232969-06745300-c378-11ea-8070-a564a22

[2020-07-12 01:46] uncheckederror commented on #25
I have verified that this order went through.

https://acceleratenetworks.com/cart/order/86960c3a-8823-4adb-94bb-297d0844466d

I am attempting to reproduce this bug.

[2020-07-12 02:15] danry25 commented on #25
The Local Routing Number is the wrong thing to check to verify whether a number is purchasable through Teli. Use https://apiv1.teleapi.net/dids/list?token=yourtoken&search=yournumber

This endpoint also accepts freeform queries like https://apiv1.teleapi.net/dids/list?token=yourtoken&search=425*******

[2020-07-12 02:35] danry25 opened #39 "Split ingest process"
Based on [the ingest reporting](https://acceleratenetworks.com/ingest), splitting the ingest process for each vendor could help our database contain fewer stale numbers.

As part of this, could we import new numbers from BulkVS hourly and expire numbers retrieved from BulkVS that are 1 hour old or older? FirstCom has very little churn, and Teli takes quite a long time to scrape (perhaps scrape Tel

[2020-07-12 04:41] uncheckederror commented on #25
Please retest. @danry25 Per our discussion this has been resolved and a new build has been deployed to production.

[2020-07-12 04:42] uncheckederror commented on #39
I propose that we scrape BulkVS every hour and FirstCom and Tele every 12 hours.

[2020-07-12 04:50] danry25 commented on #39
Sounds good, lets ensure BulkVS numbers are invalidated hourly too!

[2020-07-13 16:59] uncheckederror commented on #39
@danry25 I have split up the cycles on the ingest process in 9a0d338. BulkVS will run every hour, TeleMessage and FirstCom will run every 12 hours. Because numbers are invalidated in bulk, I have set all numbers to be invalidated if the have not been re-ingested in the last 12 hours as that's the slowest cycle time. This build has been pushed to prod. Please update the cron job to run every 30 min

[2020-07-13 19:32] danry25 commented on #39
This cronjob has been set to run at 11 minutes and 41 minutes past the hour respectively.

[2020-07-13 19:34] danry25 commented on #25
This issue with verifying numbers are available to purchase through Teli looks to be resolved based on my testing,

[2020-07-13 19:41] danry25 opened #40 "List all purchased numbers from each vendor, label numbers when ordering through Teli"
Can we export a CSV or table of what numbers were purchased from each vendor and for who?

Additionally, for Teli can we set the note to be the customer's business name followed by the person who placed the order's name, eg: Accelerate Networks - Dan Ryan

[This is API to set notes](https://apidocs.teleapi.net/api/my-phone-numbers/change-note-on-did) on Teli, sadly BulkVS and Endstream do not supp

[2020-07-13 20:22] #39 closed

[2020-07-13 20:22] #37 closed

[2020-07-13 20:23] #25 closed

[2020-07-16 01:35] danry25 opened #41 "Show purchased numbers on completed orders after the number is removed from database"
Currently when a number is ordered, we buy it with the upstream vendor. When the next ingest occurs, the number is removed from the database and zeros are shown in the order reference link that is emailed to the client and our orders team.

Can we show the ordered numbers persistently? Since we bought the number, the number not being available for purchase is expected behavior.

[2020-07-16 01:36] danry25 opened #42 "Trouble running ops app on Debian 10"
When manually invoking the Ops app I get the following error:
[code]

[2020-07-16 01:39] danry25 opened #43 "Integrate with Peerless Networks as a new vendor?"
They seem to have [a decent API](https://app.swaggerhub.com/apis/Peerless/PeerlessPortal/1.3.1#/) and tons of available numbers, it might make sense to pull Peerless Networks into the mix.

[2020-07-16 04:57] uncheckederror commented on #41
You can visit this page to verify that this issue has been resolved.

https://acceleratenetworks.com/cart/order/d0ab6375-67a6-47a6-bc9a-7753e5731f52

[2020-07-16 04:57] #41 closed

[2020-07-19 05:13] uncheckederror commented on #42
Verified with @danry25 that the Ops app is working correctly and helped him create an account.

[2020-07-19 05:13] #42 closed

[2020-07-19 05:14] uncheckederror commented on #19
The Ops app is up at https://ops.acceleratenetworks.com/ Yay!

[2020-07-19 05:14] #19 closed

[2020-07-19 22:22] danry25 opened #44 "Integrate with Flowroute as a vendor?"
They seem to have [a decent REST API](https://developer.flowroute.com/api/numbers/v2.0/list-available-area-codes/), and their available numbers do not overlap with our other vendors and appear quite plentiful (eg: over 2600 available numbers in the 206 area code, 26200 available numbers in area codes 226 and below, estimated 484,000 available numbers).

API endpoint to use is https://api.flowroute

[2020-07-19 23:38] danry25 opened #45 "Fix next button on Ops application"
This seems to be the same bug as issue #38 where the next button is disabled on the 2nd to last page of results, though it is affecting the ops application and preventing users from going to the last page of available numbers after logging in and navigating to Numbers => Numbers and searching for available numbers.

![Screenshot from 2020-07-19 16-36-36](https://user-images.githubusercontent.com/1

[2020-07-20 00:06] danry25 opened #46 "Premium Numbering? Display numbers not in sequential order?"
Can we mark certain numbers as premium? Ideally we would have two tiers for the following scenarios:

Select Numbers ($40)
 - Upstream vendors that are slightly more expensive to buy numbers from
 - Numbers with [3 to 4 repeating digits](https://acceleratenetworks.com/Search?Query=4444)
 - Perhaps [repeating digits](https://acceleratenetworks.com/Search?Query=7878) or [word matches](https://accele

[2020-07-20 00:11] danry25 opened #47 "Leading 1 is stripped from numbers below 11 digits in length"
[If I search for 11234](https://acceleratenetworks.com/Search?Query=11234), it seems this is interpreted as 1234. Ideally we would only strip the leading 1 digit when given a number over 10 digits in length.

[2020-07-20 00:34] uncheckederror commented on #47
Ah, yes, this is a high quality bug.

[2020-07-20 00:40] uncheckederror commented on #45
@danry25 Can you verify that the Ops app has been added to the systemd file. Run this command "sudo systemctl restart numbersearch.service" in the release pipeline doesn't seem to be restarting the app on the web server.

[2020-07-20 01:41] #45 closed

[2020-07-20 01:47] danry25 opened #48 "Potential issue with OAuth in the Ops application?"
It looks like the OAuth portion of the Ops application is causing crashes?

[code]

[2020-07-20 01:55] uncheckederror commented on #48
This appears to be resolved please verify that it's fixed @danry25.

[2020-07-20 02:13] #48 closed

[2020-07-21 00:35] uncheckederror commented on #47
I have resolved this bug.

[2020-07-21 00:35] #47 closed

[2020-07-21 21:33] uncheckederror commented on #40
I have verified with @danry25 that this feature is now implemented.

[2020-07-21 21:33] #40 closed

[2020-07-22 00:07] danry25 opened #49 "Label numbers when ordering through Teli"
For Teli can we set the note to be the customer's business name followed by the person who placed the order's name, eg: Accelerate Networks - Dan Ryan - Ordered via API

[This is the API to set notes](https://apidocs.teleapi.net/api/my-phone-numbers/change-note-on-did) on Teli, sadly BulkVS and Endstream do not support labeling DIDs, hence issue #40 to allow manual reconciliation of owned DIDs on

[2020-07-23 03:57] uncheckederror commented on #49
This bug is resolved in b2f7b55. I have verified with @danry25 that notes for Tele numbers are now being set correctly in their system.

[2020-07-23 03:57] #49 closed

[2020-07-24 17:42] uncheckederror opened #50 "Fix BulkVS SOAP API Error Handling"
When the BUlkVS API responds with an error we treat it as an exception because it can't be serialized to the C# object that models the success response. Rather than throwing an exception we can expand the object that the XML response is being de-serialized to by including the fields in the error response. These failure fields would go unused for successful responses and the reverse would be true f

[2020-07-24 18:55] uncheckederror commented on #50
As it turns out the issue wasn't that the BulkVS API was returning errors it; was that the C# model wouldn't accept a null value for when the number of entries was "nil". Changing that int field to int? solved this XML de-serialization issue.

[2020-07-24 18:55] #50 closed

[2020-07-26 04:42] uncheckederror commented on #43
Peerless appears to have some sort of API rate limiting that we keep running into. This is making it hard to get consistent results from the ingest process. We need to work out a way to move past this rate limiting with them and then the next step is to figure out how to purchase phone numbers through their API.

- [ ] Fix the API rate limiting.

- [ ] Implement purchasing numbers.

[2020-07-26 23:06] uncheckederror opened #51 "Make Ingest cycle times configurable"
At the moment the cycle times that define how often a specific provider will be ingested from are hard coded in the application. This means that modifying this requires a commit to be made, the CD/CI pipeline to be run, and a release to be executed before they can be changed on the production server.

This is not ideal. Instead these values should be configurable through a section in the appsettin

[2020-07-27 03:57] #51 closed

[2020-08-12 05:53] uncheckederror opened #52 "Save a copy of the emails sent by the Ordering process"
Right now no record is made when the emails are sent out to the customer and to the orders inbox. We should save a copy of these emails and associate them with the order so that we can review them later if something goes wrong or see previous automated emails that went out to the customer. If the emails fail to send we should place a button in the Ops app to attempt to resend them and make a note

[2020-08-12 05:58] uncheckederror opened #53 "Show the date the Order was submitted on the Order"
Right now there's no way to tell when an Order was submitted when you're looking at just a single Order. We need to fix this to make it easier to figure out which Order is which, other than by using the GUIDs.

[2020-08-13 02:34] uncheckederror commented on #53
This issue is now resolved.
![image](https://user-images.githubusercontent.com/11726956/90088002-df8ca200-dcd2-11ea-8162-2aa8ecfcc26d.png)

[2020-08-13 02:36] #53 closed

[2020-08-13 05:08] uncheckederror commented on #52
I have started addressing this issue by saving a record of sent emails to the database in 81ad35d.

[2020-08-14 03:52] uncheckederror commented on #52
I have created a page in the Ops app to review sent emails and added logging events to the check process for the sending of emails.

[2020-08-14 03:52] #52 closed

[2020-08-15 03:54] danry25 opened #54 "Send out invoice and porting information immediately"
This is business logic that I would like to automate. Rather than sending the current welcome email, if we could send the email outlined below if the order is from someone who is not a current client (eg: If their email domain matches an existing client and is not a free or multi-tenant domain like gmail, yahoo, cruiseshipcenters.com, etc) and generate an invoice, that would be ideal.

Here is the

[2020-08-15 05:32] uncheckederror commented on #43
We are pausing work on integrating with Peerless until we can work out some solution with them to get around the API rate limiting. After we hit the limit not only can we not query for more numbers, but we can't query to verify that specific numbers still exist, or submit purchase orders. Until we get these blockers resolved there's nothing more to do here.

[2020-08-15 05:32] #43 closed

[2020-08-15 17:59] uncheckederror opened #55 "Build a page to Control the Ingests process in the Ops app"
Right now we have to manually edit text files on the production server or deploy a new build to influence the function of the Ingest process. We should move the functionality into the Ops app so that it can be controlled by subject-matter experts and not the developers.

[2020-08-15 21:05] uncheckederror commented on #54
There are 3 fundamental things we need to do:

- [ ] Verify that we own the number after buying it
- [ ] Provide the port out information to the buyer or offer to host service for the number
- [ ] Maintain the broadest selection of numbers reasonably possible

[2020-08-18 05:52] uncheckederror commented on #55
I have created the IngestCycles table to store configuration information about the ingest process.

- [ ] Update the Ingest app to get the Cycles from the IngestCycles table.
- [ ] Create a page in the Ops app where you can review and modify the configuration information in the IngestCycles table.

[2020-08-18 23:02] uncheckederror commented on #55
Added an ingest configuration page to the Ops app in b928c82

[2020-08-18 23:49] uncheckederror commented on #55
These changes are now live in both the Ops app and the Ingest console app.

[2020-08-18 23:49] #55 closed

[2020-08-20 22:39] #4 closed

[2020-08-20 22:40] uncheckederror commented on #4
It's taken quite a while, but I finally found the motivation to solve this issue and I did with an O(1) solution.

[2020-08-20 23:25] uncheckederror commented on #46
@danry25 What do you think of this look:
![image](https://user-images.githubusercontent.com/11726956/90835389-56dcba00-e301-11ea-9320-66e63ca378cc.png)

"Select" seemed like a good idea at the time, but upon seeing it on the web page I realized that it might confuse the users as they could think that they have to "Select" that row or that it was selected. So I think we should stay away from that t

[2020-08-22 22:24] danry25 opened #56 "Switchable ordering of number results"
If we could have a Sequential view and a Recommended view for available phone numbers (eg: a button that toggles between those two) that would be ideal.

[2020-08-23 18:07] danry25 opened #57 "Refactor Number Ingest as a systemd service"
Per our discussion, rather than having a cronjob invoke the number ingest hourly, it would likely make more sense to have Number Ingest running at all times, waiting for the next ingest cycle.

[2020-08-24 02:47] uncheckederror commented on #56
This issue is now resolved you can try it out here: https://acceleratenetworks.com/Search?Query=206*******

[2020-08-24 02:47] #56 closed

[2020-08-25 02:57] uncheckederror commented on #57
@danry25 I have triggered a deployment of the new Ingest application to production. You will now need to do the following:

- [ ] Delete the existing cron job
- [ ] Create a systemd file to start NumberSearch.Ingest up.
- [ ] Respond to this so I can update the deployment pipeline to restart the app when a new release is completed.

[2020-08-25 02:58] uncheckederror commented on #57
Add code to enable this feature in 5cc6561

[2020-08-25 03:33] danry25 opened #58 "High Priority Ingests"
Could we ingest certain area codes multiple times a day from each vendor? Particularly 206, 360, 425, 503, 509, 541 and 564 are our important area codes to have accurate data for.

[2020-08-25 03:37] danry25 opened #59 "Rate limit ingests from select vendors"
Certain vendors like Peerless Networks have a hard cap of 100,000 numbers looked up per hour via API. If we could ingest numbers from them at a slower rate (eg: smear our API lookups across 3 hours) we would be well below their API limits.

Additionally, outside of high priority area codes (issue #58), we really only need 1 complete ingest per day per vendor.

This ticket relates to #43 and #58

[2020-08-25 03:40] danry25 opened #60 "Resell unassigned phone numbers that we own"
We have a fair number of phone numbers we own but have not assigned to clients (eg: We bought them for use as temporary forwarding numbers, but the port request has completed and the client does not need the numbers anymore).

It would be nice if NumberSearch could offer these numbers to our clients for purchase.

[2020-08-25 04:46] uncheckederror commented on #58
@danry25 How often do you want these priority ingests to run?

[2020-08-25 04:48] uncheckederror commented on #60
So we'd need a page in the Ops app where you could manually enter a phone number to get it listed in the Number Search page in the Mvc app.

[2020-08-25 23:55] uncheckederror commented on #58
Based on my conversation with @danry25 high priority ingest should be run every hour.

[2020-08-26 01:51] danry25 commented on #57
I have added a systemd unit file and installed this on the server. Please let me know if there is anything else I can do!

[2020-08-26 02:29] danry25 opened #61 "Manage numbers assigned to clients"
Ingest our numbers from each vendor and track what client owns which phone number along with a text field for notes about each number.

Additional scope creep items that should be in separate issues after MVP of this feature:
- Pull client list from [InvoiceNinja API](https://docs.invoiceninja.com/api.html)
- Enable CNAM (caller name lookup) on all numbers ([Teli API](https://apidocs.teleapi.net/a

[2020-08-26 03:02] uncheckederror commented on #58
This feature is now deployed to production.

[2020-08-26 03:02] #58 closed

[2020-08-26 03:10] uncheckederror commented on #57
I have updated the release pipeline and verified that these changes are working as intended.

[2020-08-26 03:10] #57 closed

[2020-08-26 03:12] uncheckederror commented on #59
I am putting this on pause until we get implement the ability to purchase phone numbers through the peerless API.

[2020-08-26 06:12] danry25 commented on #60
Exactly, a page should exist in the Ops app with a list of owned phone numbers imported from the vendors we integrate with currently, each with a field to mark it as unassigned or to tie it to a client.

[2020-08-26 06:12] danry25 commented on #59
Sounds good!

[2020-08-26 17:08] uncheckederror commented on #60
How would we query each of the vendors for the phone numbers we own?

[2020-08-26 17:09] uncheckederror commented on #60
It looks like this feature is dependent on completing #61 first.

[2020-08-26 17:12] uncheckederror commented on #61
So we want Inventory the phone numbers that we own through each vendor that we integrate with and then store meta data about each phone number.

Could you send me an example query for each of these API integrations?

[2020-08-27 22:57] danry25 opened #62 "Expose bulk LRN Lookup in MVC app"
If we could allow unauthenticated users to do bulk LRN lookups through a pretty looking webpage it could be quite helpful for our partners.

Format they would like to submit a list of numbers in:
[code]
All non-numerical characters should be stripped, expect 1 phone number per line.

We already do singleton queries to [this API here](https://github.com/AccelerateNetworks/NumberSearch/blob/a21693c8

[2020-08-28 00:09] danry25 opened #63 "Customers have no way to view/update the account information submitted for a port in request"
It would be nice if customers could view, update and cancel port requests, currently all they get to see is the number that is being ported in. On ~20% of port requests, we need to prompt the client to correct the account information submitted to us as their old carrier rejects the port request.

[2020-08-28 00:10] uncheckederror commented on #62
I have updated all of the place holders on the Tests page in the Ops app to use the phone number you provided.

[2020-08-28 00:11] danry25 opened #64 "No way to access bill uploaded with the submission of a port request"
How can we access the file uploaded by a customer that submitted a port in request in the Ops application? It appears the file is not exposed to the ops application.

[2020-08-28 00:50] uncheckederror commented on #62
@danry25 Of the field listed in the response on this page, which ones do you actually want to see?

![image](https://user-images.githubusercontent.com/11726956/91508961-ca487380-e88d-11ea-9d22-6e49f8569705.png)

[2020-08-28 01:12] uncheckederror commented on #62
@danry25 Here's what the page looks like with the sample number list you provided:

![image](https://user-images.githubusercontent.com/11726956/91510078-e26dc200-e890-11ea-9f41-1a6f9d4828db.png)

[2020-08-28 01:14] danry25 commented on #62
Can we hide Code,  and both Status fields, then put the results in a columned table?

[2020-08-28 01:30] uncheckederror commented on #62
@danry25 how's this?

![image](https://user-images.githubusercontent.com/11726956/91510957-67f27180-e893-11ea-90f0-435da8330c90.png)

[2020-08-28 01:31] uncheckederror commented on #63
Finally some good feedback on the porting process!

[2020-08-28 01:32] uncheckederror commented on #64
Right now the file uploads are just ignored. Could never get it to work quite right.

[2020-08-28 01:46] uncheckederror commented on #62
@danry25 Added the number that was queried for, to each row of results, to improve clarity. Are there any columns we can remove or combine here?

![image](https://user-images.githubusercontent.com/11726956/91511881-94a78880-e895-11ea-952f-a8952b11172d.png)

[2020-08-28 01:56] danry25 commented on #62
Can we drop CLLI, Fraud Risk, LATA, OCN Name Type, Ratecenter and State? Also, can we add a column containing the phone number submitted?

[2020-08-28 02:05] uncheckederror commented on #62
@danry25 okay, check it out:

![image](https://user-images.githubusercontent.com/11726956/91513069-4942a980-e898-11ea-8f57-43ff3ac6a991.png)

[2020-08-28 02:11] danry25 commented on #62
Looks awesome Tom!

[2020-08-28 03:59] uncheckederror commented on #62
I have updated the lookup page to have a larger text input area in bcf6b4e

[2020-08-28 04:10] uncheckederror commented on #62
This feature has shipped to production and you can try it out here:

https://acceleratenetworks.com/Lookup

[2020-08-28 04:10] #62 closed

[2020-08-29 20:25] danry25 commented on #54
Here is an [InvoiceNinja C# API client](https://github.com/TheUltimateC0der/API.InvoiceNinja). Looks like its autogenerated from the swagger docs.

[2020-08-30 20:19] danry25 commented on #64
Interesting, could we hide the file upload button then?

[2020-08-30 20:22] uncheckederror commented on #64
I am going to add instructions to ask them to respond to the port request confirmation email with a copy of their bill.

[2020-08-30 21:09] danry25 commented on #61
For FirstPoint/Endstream use DIDSearchInAccount (pass the auth.username, auth.password, ReturnAmount of 999999, then go area code by area code using DIDSearch.NPA). Harel has a better endpoint he will email you tomorrow FYI.

Teli has an endpoint to [list all numbers](https://apidocs.teleapi.net/api/my-phone-numbers/list-all) owned by the account. The [notes API](https://apidocs.teleapi.net/api/my

[2020-09-02 02:51] danry25 opened #65 "Do not show success prior to collecting porting info"
Customers should not see Success as the front page status or a green modal until after they have provided porting info.

Perhaps say there is just a little more to do to complete the order (and include a link in the initial order email to where they can submit porting information).

![image011](https://user-images.githubusercontent.com/1683673/91926517-470f8f00-ec8c-11ea-932b-96fb61139968.jpg)

[2020-09-02 03:10] danry25 opened #66 "Add Sales Tax"
When an address is inside Washington State, please add Sales Tax using the [Washington State API for Sale Tax information](https://dor.wa.gov/taxes-rates/retail-sales-tax/destination-based-sales-tax-and-streamlined-sales-tax/wa-sales-tax-rate-lookup-url-interface).

When adding a non-existent tax rate to InvoiceNinja, please set the name of the rate to be the same as the percentage of the tax rate

[2020-09-02 03:15] danry25 opened #67 "Discount number purchase fee"
If a Fax Server, Standard Line Toll Free Number or Concurrent Seat is added to cart, discount all numbers ported in or purchased to $0.

Additionally, could we add a notes field to orders and if this is filled in, not generate the bill for a customer automatically?

[2020-09-02 04:54] danry25 opened #68 "InvoiceNinja Integration - Duplicate Client Created"
Relates to issue #54, it seems our billing system now has two clients with the same name and email address when NumberSearch should have looked up the existing client by email address and billed the order using that existing customer profile.

[2020-09-02 04:55] uncheckederror commented on #68
Can you provide an example?

[2020-09-02 04:58] danry25 commented on #68
Yes, look at [this customer profile](https://billing.acceleratenetworks.com/clients/145) and [the pre-existing one](https://billing.acceleratenetworks.com/clients/15).

[2020-09-02 19:36] danry25 opened #69 "Number Portability Broken?"
I tried entering 2068589310 to try and port it a few minutes ago using the form, but it times out after a minute and gives the error below.

The LNP portability API is up and responds within 600ms, so it is not an upstream issue.
![Screenshot from 2020-09-02 12-33-00](https://user-images.githubusercontent.com/1683673/92028320-b29f3e00-ed18-11ea-9329-327c20a1c53d.png)

[2020-09-02 19:49] danry25 commented on #69
@uncheckederror Per our conversation the vendor's API was unresponsive and is returning inconsistent portability results.

Seeing as we have had zero issues with portability over the past half decade and can port numbers in every major ratecenter in the US, lets disable this check moving forward and [edit the alert text](https://github.com/AccelerateNetworks/NumberSearch/blob/137ff4da1221b922c60b8

[2020-09-02 20:32] uncheckederror commented on #65
I have removed the success notification from this page.

[2020-09-02 20:32] #65 closed

[2020-09-02 20:35] uncheckederror commented on #69
If the phone number supplied by the user is 10 chars long and can be broken down into an npa, nxx, and xxxx and each portion can be parsed as an integer then it will continue on in the process even if the portability check fails or returns an error.

[2020-09-02 20:35] #69 closed

[2020-09-02 20:37] uncheckederror commented on #68
I am not sure how to handle this issue. We attempt to look up the user by getting a list of invoice ninja clients via their API and then we grab the first client from the list of clients that is returned and add the new invoice to that client.

I create a few new clients with that email address as part of the process where I developed the invoice ninja API integrations. So this might be an artifac

[2020-09-02 20:43] uncheckederror opened #70 "Add a Notes field on the Order form"
Per #67: "Additionally, could we add a notes field to orders and if this is filled in, not generate the bill for a customer automatically?"

- [ ] Add an Notes field to the Order form.
- [ ] Prevent bill generation if anything is entered into the Notes field.

[2020-09-02 20:44] uncheckederror commented on #67
I have split this into two issues. In this issue we will only handle discounting porting fees when "Services" are purchased.

[2020-09-02 20:47] uncheckederror commented on #67
@danry25 Can you give me some example shopping cart scenarios and how you would expect this to work?

[2020-09-02 20:52] uncheckederror commented on #66
- [ ] Model the WA Sale Tax API.
- [ ] Calculate the sale tax to collect on the Order form.
- [ ] Add a column to the Orders table in the database to store the tax rate information.
- [ ] Add the tax amount as an item on the Invoice Ninja invoice generated by the Order form.

[2020-09-02 20:56] uncheckederror commented on #64
I have managed to fix the file upload button on the Porting Information page. Now when a bill image is submitted through the form its sent out as an email attachment to the orders email address and the client.

[2020-09-02 21:09] uncheckederror commented on #65
![image](https://user-images.githubusercontent.com/11726956/92036979-eb91df80-ed25-11ea-83ae-e6bc01c86167.png)

After the order is submitted they are just presented with the porting information form.

[2020-09-02 21:12] uncheckederror commented on #63
If the customer uses the link to the order, in the confirmation email, there's a button at the bottom to add porting information to an order at any time.

![image](https://user-images.githubusercontent.com/11726956/92037239-56431b00-ed26-11ea-913a-f6abc63741ef.png)

[2020-09-02 21:14] uncheckederror commented on #61
I have to model and process for retrieving numbers that we own from endstream working.

[2020-09-02 21:16] uncheckederror commented on #54
As of now when an order is submitted we use the Invoice Ninja API to find existing clients by email and create a new invoice for them based on the order. Then we ask Invoice Ninja to send out the invoice on our behalf. If the client doesn't exist in then we create a new client using the Invoice Ninja API.

[2020-09-02 21:17] uncheckederror opened #71 "Verify that we own a number after buying it"
There are 3 fundamental things we need to do:

- [ ] Verify that we own the number after buying it
- [x] Provide the port out information to the buyer or offer to host service for the number
- [x] Maintain the broadest selection of numbers reasonably possible

_Originally posted by @uncheckederror in https://github.com/AccelerateNetworks/NumberSearch/issues/54#issuecomment-674447140_

[2020-09-02 21:17] danry25 commented on #64
Awesome, time to commit and close this issue then?

[2020-09-02 21:18] danry25 commented on #63
Perfect, I must have overlooked that!

[2020-09-02 21:18] #63 closed

[2020-09-02 21:18] uncheckederror commented on #71
@danry25 I am breaking this out into a separate issue so that we can track the development of the API endpoints required enable the MVC app to verify that we own specific numbers and that they are routed correctly by placing calls to them.

[2020-09-02 21:19] #59 closed

[2020-09-02 21:19] uncheckederror commented on #54
Not sure what to do about getting the porting information for a number that we now own on the customer's behalf.

[2020-09-02 21:20] uncheckederror commented on #64
@danry25 These changes are now live. Please try it out and provide feedback.

[2020-09-02 21:20] danry25 commented on #68
Ah, ok. We should delete those clients and test this out!

[2020-09-02 21:21] uncheckederror commented on #68
@danry25 Please do.

[2020-09-03 02:49] #70 closed

[2020-09-03 02:49] uncheckederror commented on #70
![image](https://user-images.githubusercontent.com/11726956/92065502-b2249880-ed54-11ea-8aca-2a0c0309fca9.png)

[2020-09-03 21:09] danry25 opened #72 "Create link in Ops app to link to invoice related to order"
When a bill is generated, link to it in the Ops application. Allow this field to be manually edited by the Ops app user.

[2020-09-03 21:12] danry25 opened #73 "Link to and submit port requests from Ops app"
We currently pull in port requests from our customers through the Ops app, it would be nice if we could
- [x]  Edit the port request information

- [x] Press a button to submit this information to our vendor

- [x] Provide a permanent link to the vendor's port request # on both the order and in the Owned Numbers section

Ingest LNP requests by getting a list of request IDs using the [LNP portabili

[2020-09-03 22:06] uncheckederror commented on #73
Which vendor would we submit this port request information to ?

What endpoint would we submit this data to?

Can you give me an example URL of a port request in the vendor's system?

[2020-09-03 22:12] uncheckederror commented on #72
![image](https://user-images.githubusercontent.com/11726956/92178633-cec5dc80-edf7-11ea-9031-1cf530692790.png)

[2020-09-03 22:12] uncheckederror commented on #72
@danry25 What do you mean that you want this field to be manually editable by an Ops application user?

[2020-09-03 22:59] danry25 commented on #73
Take a look at the [Create Order](https://apidocs.teleapi.net/api/lnp-portability/create-order) endpoint to submit a port request, [List Orders](https://apidocs.teleapi.net/api/lnp-portability/list-orders) to get all port requests, and [Get Specific Information](https://apidocs.teleapi.net/api/lnp-portability/get-specific-information) to get the port request status, whether that be pending, has a

[2020-09-03 23:00] danry25 commented on #72
Scratch that, this is fine. Feel free to close the issue!

[2020-09-03 23:16] danry25 commented on #71
I need to write/document APIs for the following things:
- [ ] Adding a phone number to FusionPBX (Dialplan => Destinations)
- [ ] Making a call to a phone number
- [ ] Pulling the call logs
- [ ] Deleting a phone number from FusionPBX (Dialplan => Destinations)

[2020-09-03 23:56] #72 closed

[2020-09-04 01:20] danry25 commented on #67
To clarify, mark one phone number per service from the service page as $0, then $2 a month per phone number for any additional numbers.

[2020-09-04 15:52] uncheckederror commented on #68
@danry25 are we good on this?

[2020-09-04 15:52] #64 closed

[2020-09-04 18:11] #67 closed

[2020-09-05 00:12] #66 closed

[2020-09-05 00:32] uncheckederror opened #75 "List all the Phone Numbers we own in the Ops app"
We don't have an inventory of all the Phone Numbers that we own.

We need a page in the Ops app that lists all of the Phone Numbers that we own.

Although we can look in each vendor's portal manually this process is slow and error prone.

This is an item from the list of feature requests in #61

[2020-09-05 00:33] uncheckederror commented on #61
I have split off listing all the numbers we own in the Ops app into #75.

[2020-09-05 00:38] uncheckederror commented on #75
- [ ] Ingest owned numbers from TeleMessage
- [ ] Ingest owned numbers from BulkVS
- [ ] Ingest owned numbers from FirstPointCom
- [ ] Run LRN checks on each number to verify that the provider hasn't changed.
- [ ] Store these numbers in the database.
- [ ] List the numbers we own in the Ops app.

[2020-09-09 02:24] danry25 opened #76 "Add tax to the appropriate category in InvoiceNinja"
**Describe the bug**
Tax rates not applied in the correct category

**To Reproduce**
Steps to reproduce the behavior:
1. Go to AccelerateNetworks.com
2. Buy anything and enter an address in Washington State
3. Check out
4. See sales tax applied as a line item rather than a tax rate

**Expected behavior**
Apply tax rates by looking up the tax rate from Washington State, then matching the relevant %

[2020-09-09 02:36] uncheckederror commented on #76
@danry25 How do you associate a tax rate with an invoice?

[2020-09-09 03:13] danry25 commented on #76
It appears you will need to set "tax_name1": "10.1%", "tax_rate1": 10.1, when creating the invoice. I have sent you an example query to show this out of band.

[2020-09-09 03:20] uncheckederror commented on #76
Okay so before I assign the tax rate to the invoice I have to get a list of all the available tax rates in the system. Then I can see if the rate already exists and use it if it does. If it does not then I'll have to create a new tax rate entry and use that.

[2020-09-09 03:24] danry25 commented on #76
Exactly. Please label the tax rate with the appropriate locality as its name too!

[2020-09-09 03:27] uncheckederror commented on #76
@danry25 Just to confirm, you want the "Name" field to be the billing City and the "Rate" field to be the decimal tax rate provided by the state Sales Tax API.

[2020-09-09 03:39] danry25 commented on #76
Name should be the rate name (returned by the WA Sales Tax Rate Lookup URL Interface), state and loccode/code with the first letter of each word for the rate name being capitalized, state set to WA and a dash thereafter before the loccode/code.

Examples:
[code]

[2020-09-09 04:53] uncheckederror commented on #76
These changes have been deployed to production. Please test them out and close this issue if you're satisfied @danry25.

[2020-09-10 02:25] uncheckederror commented on #75
@danry25 You can try out the new page in the Ops app here: https://ops.acceleratenetworks.com/Home/OwnedNumbers

[2020-09-10 06:57] danry25 commented on #76
This is implemented correctly and seems to work well, thanks @uncheckederror !

[2020-09-10 06:57] #76 closed

[2020-09-10 07:18] danry25 commented on #75
This page has most of the requisite data, but the Number Information column has the phone number, vendor &  Date Ingested smooshed together with no separation. Each should be its own column. On the same note, Notes should be its own, editable column rather than being smooshed under the service provider column.

Our goal is to have skinny rows and a column for every relevant data field. I see the O

[2020-09-10 07:18] danry25 commented on #68
I think so!

[2020-09-10 07:18] #68 closed

[2020-09-10 07:22] danry25 commented on #54
Its mostly templating an email for each vendor, I will craft those up and attach them to this issue. Only BulkVS has port out PINs, which will need to be incorporated into the outbound email template.

For some reason, a bill and an email were not generated for the number order completed on 9/9/2020 11:54:52 AM, not sure if its due to the email format or what, just surprised the client doesn't eve

[2020-09-10 21:41] uncheckederror commented on #75
To get all of the numbers we own out of the BulkVS API we'll need to use the DnQueryAll endpoint.

[2020-09-11 01:05] uncheckederror opened #77 "Mark purchased Numbers from the Database after they are purchased"
**Describe the bug**
Sometimes users will submit an order and something will go wrong in the checkout process. Then they will resubmit the same order and something will go wrong in the checkout process again because the phone numbers have already been purchased.

**To Reproduce**
Steps to reproduce the behavior:
Submit the same order for the same phone numbers twice.

**Expected behavior**
The pho

[2020-09-11 06:11] #77 closed

[2020-09-11 23:18] danry25 opened #78 "Show Service Provider Name in addition to the OCN"
**Is your feature request related to a problem? Please describe.**
Relates to issue #75, show Service Provider Name in addition to Operating Carrier Number (the 4 digit code shown under the Service Provider column in the Ops app), both should be moved to show up under either the Edit button of a number, or under a new info button?

**Describe the solution you'd like**
Move these two pieces of data

[2020-09-12 06:05] uncheckederror commented on #78
This is resolved in 0ce5cba.

[2020-09-12 06:05] #78 closed

[2020-09-12 06:06] uncheckederror commented on #75
@danry25 Please verify that the current build of the Owned Numbers page in the Ops app meets your requirements.

[2020-09-13 04:58] uncheckederror commented on #73
In f0841be I added the ability to update information in a Port Request in the Ops app. I also verified that there will always be a 1:1 relationship between an Order and a Port Request. We will not support the association of multiple port requests with a single order.

[2020-09-13 05:48] danry25 opened #79 "Copy information from Checkout Process to Port Request Form when checking out order"
**Describe the solution you'd like**
If there could be a checkbox or toggle that is on by default to copy the name & address from the checkout page to the phone number porting form, this would be quite helpful!

[2020-09-13 17:36] danry25 opened #80 "Additional LRN Lookup API"
**Describe the bug**
Occasionally the current LRN Lookup API fails to return a result.

**To Reproduce**
Steps to reproduce the behavior:
Query the LRN Lookup API day in and day out, watch for the occasional timeout or failure.

**Additional context**
When failures occur, we can fallback to querying FirstPoint (aka Endstream) at [this API endpoint](http://www.endstream.com/endstreamws/OCNLATAdip.a

[2020-09-13 19:12] danry25 opened #81 "Use OCN Type to determine whether a port request is Wireless or not"
**Is your feature request related to a problem? Please describe.**
No, my feature request is to simplify the porting form.

**Describe the solution you'd like**
We should query the LRN for all numbers on a port request. If the ocn_type is any of those listed below (per the [TruOps TRA LERG Routing Guide](https://web.archive.org/web/20200913190020/https://trainfo.iconectiv.com/sites/microsites/file

[2020-09-13 19:15] danry25 opened #82 "Show counter on Caller ID field of Port Request Form counting up to 15 characters"
**Is your feature request related to a problem? Please describe.**
This is a feature request. Currently we state the 15 character limit, but there is no indication how close to the limit a user is when entering a Caller ID

**Describe the solution you'd like**
Ideally, there would be a character counter, and we should also validate that only alphanumeric characters and spaces are included in this

[2020-09-13 19:20] danry25 opened #83 "Partial Port should default to No, and hide Partial Port Description field by default"
**Is your feature request related to a problem? Please describe.**
This feature request is related to a UX problem. Ideally, we would also provide a question mark next to Partial Port that gives help text, eg: "Do you want to retain internet service with your old provider, or is there something odd we should know about when processing this port request?"

**Describe the solution you'd like**
We sh

[2020-09-13 19:24] danry25 opened #84 "Switch to First Name & Last Name when Location Type is Residential"
**Is your feature request related to a problem? Please describe.**
Currently we do not capture the customer's first name and last name when processing a residential port request. We need this information to submit the port request though.

**Describe the solution you'd like**
Ideally Location Type would become a toggle rather than a dropdown, leave the default type as Business. The Business Contac

[2020-09-13 20:31] #75 closed

[2020-09-13 20:34] uncheckederror commented on #80
This changes the Owned Phone number lookup process in the ingest application and also Lookups page in the Mvc web app.

[2020-09-13 20:37] uncheckederror commented on #82
A-z 0-9 and spaces are the only allowed characters.

[2020-09-13 22:35] danry25 opened #85 "Quantity of items and per item price not shown on /Cart/Checkout"
**Describe the bug**
After pressing Review Your Order from the cart and getting redirected to https://acceleratenetworks.com/Cart/Checkout the customer is only shown the total price for each line item (eg: GRP2613 $130) rather than the quantity, unit price and line item total for each item.

**Expected behavior**
Show the line item quantity and unit price in addition to the line item total.

**Scr

[2020-09-13 22:41] danry25 opened #86 "Reduce quantity of duplicate clients"
**Describe the bug**
When an existing client places an order and uses a different email address than what we have on file, a new client profile is generated.

**Expected behavior**
Ideally we would attach the new bill to the correct client profile in the billing system.

**Additional context**
If we could do soft matching, eg: When an email comes from @clientsdomain.com attach it to their account

[2020-09-13 22:44] danry25 opened #87 "Mention taxes in checkout process"
**Describe the bug**
We do not mention that sales tax will be assessed on sales inside Washington State.

**To Reproduce**
Steps to reproduce the behavior:
1. Select a number
2. Check out with an address in Washington State
3. Note that the order shows no taxes
4. See the actual invoice from InvoiceNinja with sales tax added on

**Expected behavior**
A clear and concise description should be "Tota

[2020-09-13 22:59] #79 closed

[2020-09-14 03:37] uncheckederror commented on #81
Rather than rejecting an order based on the ported number wireless or non wireless status after they've already submitted the order and are attempting to add additional porting information, we are instead going to reject the ported number when they first attempt to add it to their cart if the type of the new ported number does not match the ported numbers already in their cart.

[2020-09-14 05:11] uncheckederror commented on #81
So the ocn_type field is coming back as "wireless" or "unknown" using the Teli LRNLookup API.

[2020-09-14 17:45] uncheckederror commented on #87
@AlexScheller I found you a bug.

[2020-09-14 17:48] uncheckederror commented on #85
@AlexScheller This is nearly identical to #87. Both will require you to make 1 line changes to the "Orders" view used by the Cart controller.

[2020-09-14 17:53] uncheckederror commented on #87
Here's the offending line in the view: https://github.com/AccelerateNetworks/NumberSearch/blob/427ef3452f4a1868ed6f7fb3af21b48fa7eba609/NumberSearch.Mvc/Views/Cart/Order.cshtml#L125

[2020-09-15 03:51] uncheckederror commented on #82
![image](https://user-images.githubusercontent.com/11726956/93163455-0839fa00-f6cc-11ea-94ea-16ab4c918af5.png)

[2020-09-15 04:20] uncheckederror commented on #80
So this API is a completely different SOAP service from the one we currently use to interact with Endstream.

http://www.endstream.com/endstreamws/OCNLATAdip.asmx?WSDL

[2020-09-15 06:38] #82 closed

[2020-09-15 06:39] #81 closed

[2020-09-15 06:40] #83 closed

[2020-09-15 06:40] #84 closed

[2020-09-15 06:46] danry25 opened #88 "Switch to toggle for porting process dropdowns"
**Is your feature request related to a problem? Please describe.**
Dropdowns are potentially intimidating to users of the port request form and take up too much screen real estate.

**Describe the solution you'd like**
If we could have a toggle for Location Type and Partial Port, that would be ideal!

**Additional context**
![Screenshot from 2020-09-14 23-45-25](https://user-images.githubuserconte

[2020-09-15 06:48] danry25 opened #89 "Add Icon to show Partial Port help text"
**Is your feature request related to a problem? Please describe.**
Currently if you hover over the partial port toggle in the port request form, you will see a bit of help text.

**Describe the solution you'd like**
Ideally we would make non-advanced users aware that this help text is available, perhaps with a nice ? or something adjacent our shiny new toggle from issue #88 that can be clicked on

[2020-09-15 06:50] danry25 commented on #80
I do not appear to have working credentials for this API, I will reach out to FirstPoint/Endstream and request these!

[2020-09-15 07:32] danry25 commented on #80
We can also use the BulkVS LRN API, apparently it assumes we want a simple query without OCN, port date and LATA, but if we use any of the methods below besides option 1 we can get the full dataset:
[code]

[2020-09-15 18:19] uncheckederror commented on #80
Worth noting that we're not getting a last ported date back from this BulkVS api.

[2020-09-16 06:42] #88 closed

[2020-09-16 17:01] uncheckederror commented on #80
Based on the last Owned Numbers ingest run BulkVS seems to have the LRN lookup range as Teli. There is no scenario for the numbers we own where BulkVS is able to capture LRN information that Teli is not. Neither are able to return information on number with an 800 NPA.

[2020-09-16 17:01] uncheckederror commented on #89
@danry25 What should the help text say?

[2020-09-18 01:05] uncheckederror commented on #89
"Do you want to retain any services with your old carrier?"

[2020-09-18 01:08] uncheckederror commented on #86
Closing for now to investigate a manual only process.

[2020-09-18 01:08] #86 closed

[2020-09-18 01:13] uncheckederror commented on #80
800, 833, 844, 855, 866, 877, 888 NPA should be ignored because they are toll free numbers than cannot be looked up via LRNs.

[2020-09-18 01:23] uncheckederror commented on #61
Run the enable CNAM lookups only for numbers ingested through Teli and only on the first time that they are ingested.

[2020-09-18 05:22] #80 closed

[2020-09-18 05:25] uncheckederror opened #90 "Ingest Toll Free Phone Numbers"
**Is your feature request related to a problem? Please describe.**
We don't offer any Toll Free phone numbers.

**Describe the solution you'd like**
We should ingest Toll Free phone numbers from our providers.

**Describe alternatives you've considered**
Continuing to not have any Toll Free phone numbers available through our website.

**Additional context**
Teli and BulkVS have specific endpoints

[2020-09-18 07:45] danry25 commented on #90
API for Teli Tollfree: https://apidocs.teleapi.net/api/order-phone-numbers/list-tollfree-numbers

[2020-09-18 22:39] #87 closed

[2020-09-18 22:46] uncheckederror commented on #85
![image](https://user-images.githubusercontent.com/11726956/93651384-25214680-f9c6-11ea-801b-aa52db42b99a.png)

[2020-09-19 02:00] #85 closed

[2020-09-19 19:24] uncheckederror commented on #89
![image](https://user-images.githubusercontent.com/11726956/93687461-16449d80-fa73-11ea-852d-f2792a83ac39.png)

[2020-09-19 19:26] #89 closed

[2020-09-19 19:31] uncheckederror commented on #73
In #89 we finished tuning up the port submission page in the Mvc app. The goal now is to integrate with the Teli port request submission API in the Ops app to enable the submission of porting information after it's been reviewed.

[2020-09-20 19:02] uncheckederror commented on #73
Teli doesn't have a direct way to link to a single Port Request in their system. So instead if there's a Teli Id for the Port Request set in our system we'll give you a button that links to their general Port Requests page and then show you the Id of the request.

[2020-09-20 19:02] #73 closed

[2020-09-21 23:29] danry25 opened #91 "Do not require PIN or Password when submitting port request"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [AccelerateNetworks.com/Numbers](https://AccelerateNetworks.com/Numbers)
2. Enter a telephone number currently with a wireless carrier and press port
3. Fill out the address information
4. Try and submit port form without entering a PIN or Password

**Expected behavi

[2020-09-23 17:00] uncheckederror commented on #91
![image](https://user-images.githubusercontent.com/11726956/94044892-9b85c600-fd83-11ea-9805-d374ce305e59.png)

[2020-09-23 17:00] uncheckederror commented on #91
This is resolved in 9bc452d

[2020-09-23 17:00] #91 closed

[2020-09-23 17:22] scottstrong206 opened #92 "Issue adding Sales Tax Amount on Invoice Ninja"
Hey Tom,

I can’t add a custom sales tax amount on Invoice Ninja. I need 8.7% percent for a particular business which isn’t a option.

Is there a way for me to customize the sales tax amount?

[2020-09-23 17:25] uncheckederror commented on #92
Yeah, Danny mentioned this issue yesterday. I can add a page in the Ops app so you can create custom sale tax amount, although I believe there's also a way to do this from inside of Invoice Ninja.

[2020-09-23 17:35] danry25 commented on #92
@uncheckederror & @scottstrong206 To recap what we discussed, ideally we would create a tax rate add form in the Ops app that would take an address (or partial address like a zip code), add the appropriate tax rate to InvoiceNinja, then tell the user the name and 4 digit code associated with the tax rate.

There is a way to add tax rates under Settings => Tax Rates in InvoiceNinja, but unlike the

[2020-09-27 00:48] scottstrong206 opened #93 "Add Phone Number below the Talk to Us button"
Can we add our phone number (206) 858 8757 underneath the Talk to Us button?

[2020-09-27 02:32] danry25 commented on #93
@scottstrong206 Would you mind:
- [ ]  Adding the additional details we discussed about this issue

- [ ] Updating this issue to have a descriptive title

- [ ] Using the Issue Template

- [ ]  Including the example screenshot I provided of the change you would like to see

This way Tom can understand and implement the change more effectively.

[2020-09-27 20:04] uncheckederror commented on #93
![image](https://user-images.githubusercontent.com/11726956/94374546-e7a57300-00c1-11eb-8773-6bac26a31fd9.png)

[2020-09-27 20:04] uncheckederror commented on #93
@scottstrong206 Please verify that you're good with this fix.

[2020-09-28 16:45] scottstrong206 commented on #93
Thanks Tom, that looks great!

[2020-09-28 17:07] #93 closed

[2020-10-02 01:35] uncheckederror commented on #92
![image](https://user-images.githubusercontent.com/11726956/94879386-eb642d00-0414-11eb-80df-ab003e6e7db8.png)

[2020-10-02 01:36] uncheckederror commented on #92
@danry25 and @scottstrong206 okay, this feature is now deployed in the Ops app at https://ops.acceleratenetworks.com/Home/TaxRates

[2020-10-02 01:36] #92 closed

[2020-10-04 01:30] uncheckederror opened #94 "Short circuit area code searches"
**Is your feature request related to a problem? Please describe.**
When you enter an area code in the number search it does not recognize it and just executes a general search for those characters.

**Describe the solution you'd like**
I would like area codes to be automatically recognized and wild card characters to be automatically appended when they enter 3 numbers that match with a known area

[2020-10-04 01:32] danry25 commented on #94
Please advise the user that this is being processed as an area code specific search, eg: using the Boostrap success text modal or similar.

[2020-10-04 01:37] danry25 opened #95 "Pressing Port with a blank field results in an error"
**Describe the bug**
When someone goes to [this page](https://acceleratenetworks.com/Porting/CheckPortability?Query=), generally by going to [Number Search](https://acceleratenetworks.com/Search) and pressing Port without entering anything they will see an error page

**Expected behavior**
Loop the user back to [Number Search](https://acceleratenetworks.com/Search) and show some text advising them

[2020-10-04 01:45] danry25 opened #96 "Bill uploaded with Port Request is not retained, nor is it passed to the vendor"
**Describe the bug**
A port request is submitted with a pdf of the old provider's bill, but this bill is not accessible through the Ops app, nor is it passed along to the vendor when the port request is submitted.

**Expected behavior**
When a bill is attached to a port request, it should be presented in the Ops app when viewing the port request details and also passed along to the vendor.

**Addi

[2020-10-04 01:51] danry25 opened #97 "Billing Telephone Number as a dropdown listing all numbers on port request"
**Is your feature request related to a problem? Please describe.**
Users seem to not understand what a billing telephone number is and input bad data in this field.

**Describe the solution you'd like**
Since the BTN has to be on the account, and we are almost always porting all numbers from providers, the BTN should be in the list of numbers that a user has selected to port to us.

A BTN is an ac

[2020-10-04 01:53] danry25 opened #98 "Hard to see which toggle is selected in the Port Request form"
**Is your feature request related to a problem? Please describe.**
Its hard to know at first glance which side of the Location Type and Partial Port buttons is selected.

**Describe the solution you'd like**
Could we switch to a bootstrap button that only colors the selected side of the toggle, leaving the unselected side of the toggle white with a thin line around the edge to define it as a butto

[2020-10-04 22:57] uncheckederror commented on #94
@danry25 how about this:
![image](https://user-images.githubusercontent.com/11726956/95029069-5d798380-065a-11eb-8554-5491a5c0cd0f.png)

[2020-10-05 00:10] uncheckederror commented on #98
@danry25 how about this?
![image](https://user-images.githubusercontent.com/11726956/95030432-8acb2f00-0664-11eb-907b-9dedb09a9436.png)

[2020-10-05 00:13] uncheckederror commented on #97
Yeah, we can do that. We could also make them select the billing phone number a dropdown list of numbers that they are porting in.

[2020-10-05 00:26] uncheckederror commented on #95
This is the page they'll now be redirected to if they click the Port button without entering a number:
![image](https://user-images.githubusercontent.com/11726956/95030764-b5b68280-0666-11eb-89b9-d61a4b1cc8fc.png)

[2020-10-05 00:26] #98 closed

[2020-10-05 07:55] danry25 commented on #98
Looks great, thanks Tom!

[2020-10-05 07:56] #95 closed

[2020-10-05 07:56] danry25 commented on #94
Looks good to me, feel free to implement this!

[2020-10-05 15:43] #94 closed

[2020-10-07 04:01] uncheckederror commented on #97
Help text for Billing Telephone Number:  The primary phone number on the account often acting as the account number, shown in the upper right corner of the Centurylink, Frontier & Ziply Fiber bills.

[2020-10-07 04:03] uncheckederror commented on #96
@danry25 Please provide durable storage for me to put the files into.

[2020-10-07 04:06] uncheckederror commented on #90
Standard, Premium, Executive, and now Tollfree tags.

[2020-10-07 18:40] uncheckederror commented on #97
@danry25 how does this look?
![image](https://user-images.githubusercontent.com/11726956/95373463-e3334400-0891-11eb-9703-35b0237e3229.png)

[2020-10-07 18:41] #97 closed

[2020-10-13 06:03] uncheckederror commented on #61
![image](https://user-images.githubusercontent.com/11726956/95821551-fbb2bc80-0cde-11eb-9276-0ede86888dc5.png)
![image](https://user-images.githubusercontent.com/11726956/95821585-0a00d880-0cdf-11eb-80bb-08851fab3d28.png)

[2020-10-13 06:14] #61 closed

[2020-10-18 05:02] danry25 opened #99 "Email client when port date is set and when port completes"
**Is your feature request related to a problem? Please describe.**
Our vendors provide the date on which a phone number will port via API as the foc_date [in this API](https://apidocs.teleapi.net/api/lnp-portability/get-specific-information) when looking up a specific port request. Whether or not the port has completed is also provided as request_status. Please get the values for a specific number

[2020-10-18 05:07] danry25 opened #100 "Lookup Tool: Query Caller Name"
**Is your feature request related to a problem? Please describe.**
The [lookups tool](https://acceleratenetworks.com/Lookup) claims "Enter a phone number and we'll hunt down any information we can find on it.", but we actually can get more data on a phone number, specifically the caller name attached to a phone number by querying the Line Info Database (LIDB). This type of query is often called a

[2020-10-18 05:24] danry25 opened #101 "Update email templates"
**Is your feature request related to a problem? Please describe.**
The email templates are a touch verbose, if we could modify them that would be ideal!

**Describe the solution you'd like**
Bolded words below should be a hyperlink to the order confirmation.

Template for the initial email:

Title: Order confirmation for `<item or first phone number in port request>`
[code]

Template for Porting I

[2020-10-18 05:43] danry25 opened #102 "Set E911 address in Ops app"
**Is your feature request related to a problem? Please describe.**
We collect the phone number and the address of a client when they place an order. Every client that has active service through us should have an E911 address on file.

**Describe the solution you'd like**
We should add a button to each order that will enable you to select the ported or purchased phone number and set the E911 addres

[2020-10-18 19:58] danry25 opened #103 "Update Numbers help text"
**Is your request related to a problem? Please describe.**
Our help text on [Numbers](https://acceleratenetworks.com/Search) does not accurately reflect how to use this tool.

**Describe the solution you'd like**
Update the text to:
[code]

[2020-10-18 20:52] uncheckederror opened #104 "Add & Remove Phone Numbers from Existing Port Request"
**Is your feature request related to a problem? Please describe.**
We can't add or remove phone numbers from a port request after it's been submitted by the customer.

**Describe the solution you'd like**
I want to add more numbers to an existing port request or remove numbers from a port request.

[2020-10-18 23:08] danry25 opened #105 "Quote Checkbox and workflow"
**Is your feature request related to a problem? Please describe.**
Customers often ask us for a quote of what our services and initial hardware would cost. If we could enable them to build their own quote through the website, that would make things easier on the sales team.

**Describe the solution you'd like**
At the checkout page where we gather their address, name, business name, etc, add a che

[2020-10-19 03:15] uncheckederror commented on #100
@danry25 does this look good?

![image](https://user-images.githubusercontent.com/11726956/96397541-9cd9c100-117e-11eb-89fc-3fd6259a459e.png)

[2020-10-19 03:55] #100 closed

[2020-10-19 05:44] #101 closed

[2020-10-19 16:23] #103 closed

[2020-10-20 00:20] uncheckederror commented on #105
![image](https://user-images.githubusercontent.com/11726956/96525257-5a23f180-122f-11eb-86d2-003ddba1fe82.png)

[2020-10-20 00:20] uncheckederror commented on #105
![image](https://user-images.githubusercontent.com/11726956/96525276-6445f000-122f-11eb-853c-152efaf6c4e2.png)

[2020-10-20 00:30] uncheckederror commented on #105
@danry25 @scottstrong206 this functionality is live. Please verify that it meets your requirements.

[2020-10-20 21:33] uncheckederror commented on #105
The code for this feature is in c881609

[2020-10-20 22:10] danry25 opened #106 "Skip sending Order Confirmation email when sending a quote"
**Is your feature request related to a problem? Please describe.**
When the quote tickbox is selected when checking out an order, an order confirmation email is sent despite there being no approved or otherwise confirmed order that needs processing.

**Describe the solution you'd like**
Skip sending an email from the billing system, use email templates in issue #105

[2020-10-20 23:43] uncheckederror commented on #105
@danry25 We can't get the public facing URL of an invoice or quote via the invoice ninja API. So to send the two invoices/quotes to the customer will need to send them as separate emails from the billing system.

[2020-10-21 04:34] danry25 commented on #106
To look up the relevant key, do this API call ```curl -X GET --header "Accept: application/json" "https://billing.acceleratenetworks.com/api/v1/clients/<Your_Client_ID>?include=invoices.invitations" -H "X-Ninja-Token: <YOUR_API_KEY>"``` then find the quote number or invoice number that matches, look in invitations inside that, and copy the value under link.

[2020-10-21 04:40] uncheckederror commented on #105
Per @danry25 we can get the public facing invite URL for the invoices/quotes this way: https://github.com/AccelerateNetworks/NumberSearch/issues/106#issuecomment-713295917

[2020-10-21 06:51] #105 closed

[2020-10-21 06:54] #106 closed

[2020-10-26 02:04] danry25 opened #107 "800/Vanity support"
**Is your feature request related to a problem? Please describe.**
Somos (the North American Toll Free administrator) has a database of available toll free numbers that is quite vast. We would like to tap into that

**Describe the solution you'd like**
[This API endpoint](https://apidocs.teleapi.net/api/order-phone-numbers/search-vanity-tollfree) seems very limited and performs best with a 10 digi

[2020-11-01 05:18] danry25 opened #108 "Switch to BulkVS REST API"
**Is your feature request related to a problem? Please describe.**
BulkVS now has [a Rest API](https://portal.bulkvs.com/api/v1.0/documentation), perhaps we should start using this?

**Additional context**
/orderTN GET is what you'll need to search available numbers, and use POST to buy a particular number.

[2020-11-01 06:13] danry25 opened #109 "Submit Port Requests to BulkVS"
**Is your feature request related to a problem? Please describe.**
If we could integrate BulkVS's porting interface, that would be neat!

**Describe the solution you'd like**
Ideally we would check if a number is portable using [validatePortability](https://portal.bulkvs.com/api/v1.0/documentation#/Origination/get_validatePortability), then submit the port request using [portTN](https://portal.bul

[2020-11-01 06:14] danry25 opened #110 "Handle port requests where a list of numbers is submitted in Bulk"
**Is your feature request related to a problem? Please describe.**
Is there a way I could have a large text field that worked just like Lookups, but instead it added numbers to my cart that were then being ported?

[2020-11-02 19:32] danry25 opened #111 "Phone numbers do not properly discount when quoted with services"
**Describe the bug**
If a phone number and services are quoted through acceleratenetworks.com, two quotes are generated (which is perfect) but none of the fees for the phone numbers are discounted on the up front/one time quote.

[2020-11-02 19:34] danry25 opened #112 "Recurring Quote Link incorrect in Ops app"
**Describe the bug**
When two quotes are generated through the website (one for the upfront/non-recurring cost and the other for monthly service cost), only the first quote is linked to through the ops app for both the recurring and upfront buttons.

[2020-11-04 19:27] #112 closed

[2020-11-04 22:12] uncheckederror commented on #111
@danry25 Yep, that is correct and by design. We only discount Ported Phone numbers. From $20 to $0 for each service they purchased and $2 per ported number after that. If they don't purchase any services then ported numbers are $20 a piece. There are no discounts on numbers that we have to purchase from our vendors.

[2020-11-04 22:18] uncheckederror commented on #108
I have reenabled our tests of the BulKVS REST API and it's working again. Which means this work is unblocked.

[2020-11-04 22:20] uncheckederror commented on #110
@danry25 do you want this to be public facing, unlisted, or part of the Ops app?

[2020-11-05 04:25] scottstrong206 commented on #99
Can I have it send me an email when a port request completes? I need an internal reminder to complete DocuSigns for ISPs.

[2020-11-05 18:56] uncheckederror commented on #96
Per @kylek206 the bill upload doesn't work and breaks the porting request process at the moment.

[2020-11-05 19:26] uncheckederror opened #113 "Combine Port and Search buttons on the Phone Number search page"
**Describe the bug**
Right now there are two buttons, "Search" and "Port" on the Phone Number search page. This leads to a bad layout on devices with small screen widths. Where the input box for phone numbers is very small.

![image](https://user-images.githubusercontent.com/11726956/98286640-264c0a00-1f59-11eb-970f-d9edd06564d8.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [htt

[2020-11-05 23:59] uncheckederror commented on #113
@danry25 has approved the layout improvements, but vetoed the idea of combining the search and port buttons.

[2020-11-05 23:59] #113 closed

[2020-11-06 16:59] uncheckederror commented on #99
Per @danry25 the success email should look like this:

[2020-11-07 06:14] danry25 opened #114 "Pizza tracker for order status"
**Is your feature request related to a problem? Please describe.**
If there is a way we could track order completion (eg: someone has logged into the Ops app and handled the order) that would make things easier.

Steps should include:
- [ ] Verify numbers purchased route properly
- [ ] Check that hardware stock is on hand
- [ ] Extract configuration information from the person who placed the order

[2020-11-07 06:16] #111 closed

[2020-11-07 07:07] danry25 commented on #110
Lets make this part of the Ops app.

[2020-11-14 06:46] uncheckederror commented on #96
I have just verified that this bug doesn't occur in the development environment on Windows 10 running locally from Visual Studio. But it does fail on the production Debian 10 machine.

[2020-11-14 06:52] uncheckederror commented on #96
2020-11-13 22:44:01.937 -08:00 [ERR] HTTP POST /Porting/AddPortingInformation responded 500 in 26.0661 ms
System.NullReferenceException: Object reference not set to an instance of an object.
   at NumberSearch.Mvc.Controllers.PortingController.AddPortingInformationAsync(PortRequest portRequest) in /home/vsts/work/1/s/NumberSearch.Mvc/Controllers/PortingController.cs:line 381

[2020-11-14 06:54] uncheckederror commented on #96
This is the line the Email object is created.

[2020-11-16 01:04] uncheckederror commented on #104
I have confirmed with @danry25 that this feature is working in production and works as expected.

[2020-11-16 01:04] #104 closed

[2020-11-18 18:25] uncheckederror commented on #99
@scottstrong206 it will CC the orders inbox when it send out the porting notification to the customer.

[2020-11-18 18:25] #99 closed

[2020-11-18 18:29] uncheckederror commented on #54
Just to clarify this is a special scenario where the buyer has only purchased a phone number. In this case we need to buy it from the vender, verify that we own it, and then pass the port out information from our vendor to the customer in an email.

[2020-11-21 01:28] uncheckederror commented on #114
@danry25 What do you mean by "Verify numbers purchased route properly"?

Does that mean that we got a success response back from the vendor that we attempted to purchase the numbers from? Or does that mean that we can place a call to that number and see it in FusionPBX?

@danry25 How do check what hardware is in stock?

@danry25 Is this "Extract configuration information" an automated process or s

[2020-11-22 22:21] danry25 opened #115 "Add field for secondary email address to orders"
**Is your feature request related to a problem? Please describe.**
When an order is placed and a particular agent is handling it, they would like to receive order update emails (port status and such).

**Describe the solution you'd like**
Could we add a text field in the ops app that when filled with an email address would be CC'ed on all emails to the customer?

[2020-11-22 22:24] danry25 commented on #114
We need to validate that the phone number actually routes to our server, as some vendors will tell us a number is ready to use, but not route it properly (requiring manual intervention on our part).

Inventory status is a board in Erxes, possibly automatable but probably a pain.

A list of items that can be checked off would be ideal.

[2020-11-22 22:50] scottstrong206 opened #116 "Swap Business Tools and Phone Service on Website"
**Describe the bug**
Under services, I would like to have the position of Phone Service and Business Tools swapped. To have "Phone Service" at the top and "Business Tools" below.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screensh

[2020-11-22 22:51] danry25 opened #117 "Update text on Phone Service section"
**Describe the solution you'd like**
- Add a sentence to the bottom saying "Buy 1 Seat per phone ordered"
- Update Concurrent Seats to just be Seats
- Update Standard Lines to Lines

**Additional context**
Our current text is vague and does not tell the customer what a seat is.

[2020-11-23 01:36] #116 closed

[2020-11-23 01:40] #117 closed

[2020-11-23 01:42] uncheckederror opened #118 "Create a Features page to explain the features on our phones"
**Is your feature request related to a problem? Please describe.**
Right now we don't have a page on the website that explains what features are available when using our phones.

**Describe the solution you'd like**
I'd like to have a page on the website that lists all of the features we offer and what they do.

[2020-11-23 01:43] uncheckederror commented on #118
@Chattaeus could you provide the list of features and their descriptions here?

[2020-11-23 01:44] uncheckederror opened #119 "Email formatting is broken"
**Describe the bug**
The formatting of the emails we send out is currently broken.

[2020-11-23 01:45] uncheckederror commented on #119
To fix the formatting I have to change every </br> in the codebase to <br />.

[2020-11-23 01:47] #119 closed

[2020-11-23 02:13] uncheckederror commented on #117
@danry25 can you verify that you're good with this? https://acceleratenetworks.com/Services

[2020-11-23 07:01] uncheckederror opened #120 "Add a mission statement to the About page"
Per our discussion earlier today we need to add a clear mission statement to the About page on our website.

@kylek206 and @scottstrong206 had some good thoughts on this issue.

Right now the mission statement is the first panel in the "Our Story" section.

Ideally we would break this out into a separate section and then add some more content to the our story section.

We also need to get more hea

[2020-11-24 06:02] #115 closed

[2020-11-24 19:41] uncheckederror opened #121 "Adding a Phone Number to the Cart resets the Search"
**Describe the bug**
When you add a phone number to your cart, you will be returned to the generic search page, not the page you just left.

**Expected behavior**
Take the user right back to where they left off.

[2020-11-24 20:39] uncheckederror commented on #121
So remedy this issue I have change the number of items displayed from 100 to 50 per page. So there's less scrolling to do now.

I also pass along the view and page information when you purchase a number so that you can be placed right back where you came from after the number is added to your cart.

Additionally you get redirected back to the exact number on the page that you just purchased.

[2020-11-24 20:39] #121 closed

[2020-11-24 21:16] uncheckederror commented on #121
@danry25 these improvements to the multiple number purchasing process are live.

[2020-11-26 22:17] danry25 opened #122 "Character counter for Caller ID counts length of every field in Porting Information form"
**Describe the bug**
The character counter counts all characters typed into fields on the Porting Information form

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the numbers page and enter a number to port
2. Click on Cart
3. Submit order
4. Fill out Porting Information and enter a city name, watch the Character Counter below Caller ID

**Expected behavior**
The character counter shou

[2020-11-27 23:37] uncheckederror opened #123 "Mark numbers as purchased"
Right now number that have been purchased continue to appear in number search app. We should mark them as purchased and prevent them from being added to cart until they are removed by the ingest process.

This feature is based on feedback from @Chattaeus during his attempts to purchase 41 numbers in bulk.

[2020-11-28 00:45] uncheckederror commented on #123
![image](https://user-images.githubusercontent.com/11726956/100490390-f3b4ad80-30cf-11eb-9b20-a79acd8a3dd0.png)

This is fixed in fd6f367

[2020-11-28 00:45] #123 closed

[2020-11-28 03:13] Chattaeus opened #124 "Website Sequential Number Buy Option"
The website should have a feature where you can buy a block of numbers. If I need 20 numbers and am not picky just click "add x numbers to cart" and checkout rather than going through one by one. I'm not a Foo Fighter, I want to buy a bunch of numbers quickly.

Alternatively if I am picky I should have the option to buy a block of sequential numbers. Maybe have a search option for "blocks" where i

[2020-11-28 03:44] uncheckederror commented on #124
@danry25 interesting ideas here...

[2020-11-28 08:52] danry25 commented on #124
When Sequential is selected, there should be a visual indicator running through each group of consecutive numbers. Perhaps clicking on this should add the group of consecutive numbers to cart.

Here are some mockups:
![Screenshot from 2020-11-28 00-39-11](https://user-images.githubusercontent.com/1683673/100497998-ef11e880-3113-11eb-9ed6-82b2d102e2df.png)
![Screenshot from 2020-11-26 14-19-08](htt

[2020-11-28 19:50] uncheckederror commented on #118
Okay the features page is now live here: https://acceleratenetworks.com/Home/Features

Please add your feedback below @kylek206, @scottstrong206, @Chattaeous.

[2020-11-28 20:39] danry25 commented on #118
Title should be just Features, and we should add an image/gif in the whitespace to the right/left of the feature that relates to the feature.

[2020-11-28 20:45] uncheckederror commented on #118
@danry25 are you going to provide the images/gifs?

[2020-11-28 20:47] danry25 commented on #118
Ah, not sure, will need to think about it.

[2020-12-03 00:23] scottstrong206 commented on #118
Hi Tom,

We are planning on putting together the images this weekend.

Sincerely,
Scott Strong
Director of Sales
206-408-3008 (call/text)
 (http://acceleratenetworks.com)

November 28, 2020 12:48 PM, "Dan" <notifications@github.com (mailto:notifications@github.com?to=%22Dan%22%20<notifications@github.com>)> wrote:
	Ah, not sure, will need to think about it.

	—
You are receiving this because you w

[2020-12-05 22:14] kylek206 commented on #118
Please add these:

Bluetooth – Most of our phones support Bluetooth, our newer phones support the latest and greatest Bluetooth 5.0 (connect your air pods or any Bluetooth device).

WIFI Compatibility – No need to worry about staying connected with just Ethernet, stay mobile with our new WIFI phones!

LTE Backup – Similar to a backup generator for your internet, detects when your internet is going

[2020-12-06 00:38] danry25 commented on #118
Add this under Phone Features too:
Wired Headsets - Every deskphone supports wired headsets using the built in RJ9 port on the rear of the phone. Crisp, clear and dependable, wired headsets are an effective way to enable a hands free experience!
Intercom - With the press of a button instantly start a conversation with a particular person! When using intercom, their phone will answer immediately on

[2020-12-06 02:43] uncheckederror commented on #118
I am also adding emoji to each of the feature titles per our feedback discussion today,

[2020-12-06 03:06] uncheckederror commented on #118
All of these changes are now live on our website: https://acceleratenetworks.com/Home/Features

Please add your feedback below @kylek206, @scottstrong206, @Chattaeus, and @danry25.

[2020-12-11 19:02] uncheckederror commented on #120
@scottstrong206 how's the mission statement coming along?

[2020-12-11 19:55] scottstrong206 commented on #120
I’m going to send some options to the group later today.

Sincerely,
Scott Strong
Director of Sales
206-408-3008 (call/text)
 (http://acceleratenetworks.com)

December 11, 2020 11:02 AM, "Thomas Ryan" <notifications@github.com (mailto:notifications@github.com?to=%22Thomas%20Ryan%22%20<notifications@github.com>)> wrote:
	@scottstrong206 (https://github.com/scottstrong206) how's the mission statemen

[2020-12-12 23:56] danry25 commented on #120
@scottstrong206 Any progress on this?

[2020-12-14 08:39] danry25 opened #125 "Porting Information email not suppressed when information put into Notes field"
**Describe the bug**
When information is put in the Notes field on an order, this should cause all emails about the order to be suppressed.

**To Reproduce**
Steps to reproduce the behavior:
1. Transfer a few numbers
2. Fill out the Order Information and put information in a note
3. Add porting information to the order
4. See an email thanking the user for adding porting information to the order.

[2020-12-14 18:05] uncheckederror commented on #125
Oh, wow the content of that email is a heck of a bug. Thanks for filing this @danry25.

[2020-12-14 18:19] uncheckederror opened #126 "BulkVS injest uses too much memory"
**Describe the bug**
The ingest app consumes ~400 MBs of memory while doing a complete BulkVS ingest. The causes unexpected closure of other apps on the production server as the box runs out of memory.

![image](https://user-images.githubusercontent.com/11726956/102119322-c79a6b80-3df5-11eb-908c-e21b959b234b.png)

[2020-12-14 18:23] danry25 commented on #126
I have added a gigabyte sized swap file to prevent OOM Killer from killing this process.

[2020-12-14 18:25] uncheckederror commented on #126
After we capture all of the numbers from BulkVS we assign number types to them and then submit them to the database.

As part of the submission process we take all of the items in the table and add them to a dictionary so we can quickly check if a number already exists in the database. I think this dictionary is what's eating up all the memory as it grows linearly with the number of rows we have i

[2020-12-14 18:30] uncheckederror commented on #126
We can see from this snapshot of the managed memory heap that the "Dictionary<Int32, Task>" is the largest memory consumer.

![image](https://user-images.githubusercontent.com/11726956/102120441-66739780-3df7-11eb-93f6-e66684ce47fa.png)

[2020-12-14 19:25] uncheckederror commented on #126
I have reduced the amount of memory consumed by this dictionary by simplifying it. In order to check if a number already exists in the database we only really need the Dialed Number. To that end we can drop the rest of the data that we were capturing from the database and grab only the Dialed Number as a string. Then our dictionary becomes just a lookup on strings rather than on objects which shou

[2020-12-14 21:05] uncheckederror commented on #126
Because this change is in the shared database submission code it should offer a similar reduction in memory consumption for each of the ingest providers.

[2020-12-14 21:12] #126 closed

[2020-12-14 21:21] uncheckederror commented on #125
@danry25 Right now if you add porting information to an order you will always get an email. Adding notes to an email only blocks the sending of the order confirmation email it has no impact on the porting information process as that's handle separately on another page.

Do you want to block these porting information added confirmation emails? And if so under what circumstances?

[2020-12-14 22:25] danry25 commented on #125
In retrospect, lets leave it as is for now.

[2020-12-14 22:25] #125 closed

[2020-12-16 05:19] danry25 opened #127 "Port request showing a port request # but also showing unsubmitted"
**Describe the bug**
A port request shows a port order number but also has the Unsubmitted warning.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://ops.acceleratenetworks.com/Home/PortRequests/
2. Search for  12/14/2020 12:56:02 AM
3. See the unsubmitted port request warning just below the port request # from the upstream vendor

**Additional context**
The port request is submi

[2020-12-17 01:58] danry25 opened #128 "Change Page Title for Numbers"
**Describe the bug**
We are getting calls from people that think we are spam calling them since they found the number that called them on our Numbers page and see it as purchasable. This seems to be happening by people using Google Search to find out who called them, compounded with an unclear page title. [Here is the 3rd most popular search query that takes people to our site](https://www.google.

[2020-12-17 06:31] uncheckederror commented on #110
@danry25 please verify that you're good with this feature.

[2020-12-17 07:30] danry25 commented on #110
Looks good, but I will hold off on closing this issue till I fully test it with a real order.

[2020-12-17 09:57] scottstrong206 opened #129 "Color Coordination on the Website"
**Describe the Bug:**
The goal of this issue is to improve our branding by matching specific items and buttons to our color scheme.

![AN Website Service page image 1](https://user-images.githubusercontent.com/71784487/102468918-f9cee780-4006-11eb-83af-3ceda9c67490.PNG)

**** What I want is for these buttons to be Accelerate Networks Blue and when you hover over them to turn Accelerate Networks Or

[2020-12-17 10:06] scottstrong206 opened #130 "Sound effect clicking button(s) on website"
**Describe the bug:**
I love to click buttons on the Accelerate Networks website but yet I don't hear anything when I click...

https://www.youtube.com/watch?v=JCGqMvWmWUI

Add effect here
![AN Website home bar](https://user-images.githubusercontent.com/71784487/102473446-51238680-400c-11eb-9d41-fbb49d0e157b.PNG)

**Expected Behavior**
Every time somebody clicks a button on our website I want a di

[2020-12-17 21:57] danry25 commented on #127
An Ops app user was able to submit a port request to Teli twice:
![signal-2020-12-17-135053](https://user-images.githubusercontent.com/1683673/102548106-025b0880-406f-11eb-921d-fa5749279ff8.jpeg)

When this occurred the Ops app saved the first port request # but munged the date that the port request was submitted:
![Screenshot from 2020-12-17 13-54-05](https://user-images.githubusercontent.com/168

[2020-12-18 05:05] #129 closed

[2020-12-18 05:45] uncheckederror commented on #130
@danry25 👀

[2020-12-18 05:50] uncheckederror commented on #127
To resolve this issue we'll need to prevent duplicate submissions of port requests.

[2020-12-18 06:23] danry25 commented on #130
Oh jeez I think this was an actual feature that the client @scottstrong206 had me set up on Wednesday had in the accounting/inventory software they use.

@scottstrong206 you should come with me for their internet installation next week and see what adding DTMF to random buttons looks like in action, its hilarious as an outsider, but a great way to torment the users :P

[2020-12-18 06:28] danry25 opened #131 "The page titled Bulk under Support is really vauge"
**Describe the bug**
The link to the Lookup/Port tool should be titled Lookup/Port, not Bulk (which is vague and meaningless)
![image](https://user-images.githubusercontent.com/1683673/102582267-14f93000-40b7-11eb-9141-35a589164a8b.png)

[2020-12-18 18:00] uncheckederror commented on #124
I think there's a way to do this with a look ahead loop, but this is not an easy problem to mark out the groups, with start and end points as we render them out.

[2020-12-18 18:41] danry25 commented on #128
Hmm, would you mind if we added those tags back? I would prefer to have our available phone numbers listed in Google Search results even if that means the occasional irate caller.

[2020-12-18 18:47] uncheckederror commented on #128
I'm not sure that's a good idea. The numbers we offer change all the time and we don't want people click on search results to dead or failed numbers like they are currently doing. Additionally though we have been allowing Google to index our results for the last year, it hasn't resulted in any sales. So we can be pretty confident that looking up specific phone numbers on Google and purchasing them

[2020-12-18 18:55] uncheckederror commented on #131
![Uploading image.png…]()

[2020-12-18 18:55] #131 closed

[2020-12-18 19:48] #127 closed

[2020-12-18 20:15] scottstrong206 commented on #130
@danry25 what about just a sound effect anytime someone clicks the Accelerate Networks logo on our website?

We need to be thinking outside the phone box here fellas! @uncheckederror

[2020-12-18 21:45] danry25 commented on #130
I don't particularly like the idea @scottstrong206 , I swear this was one of those "features" implemented by websites in the late 1990s and early 2000s that died off due to it driving people away from the website.

[2020-12-18 22:33] uncheckederror commented on #108
I have switched over the number ingest process to use the BulkVS REST API. Although we have identified an issue where we can only capture the first 1000 results for a given area code from BulkVS.

[2020-12-21 19:49] danry25 opened #132 "Direct Linking to port requests is possible!"
**Is your feature request related to a problem? Please describe.**
Turns out we can directly link to a specific port request by updating the hyperlink [here](https://github.com/AccelerateNetworks/NumberSearch/blob/899815689c6f040dfef6a77c99698dfd698f22c8/NumberSearch.Ops/Views/Home/PortRequestEdit.cshtml#L24) and [here](https://github.com/AccelerateNetworks/NumberSearch/blob/05755c8d1fefdb0b1298a8

[2020-12-21 19:58] danry25 opened #133 "Missing zeros on numbers in port request, port request not submitted correctly"
**Describe the bug**
The order/port request submitted on 12/14/2020 12:53:50 AM lopped off the leading zero on two numbers (ending in 171 (which should have been 0171) and ending in 550 (which should have been 550)) and submitted incorrectly to Teli.

**Expected behavior**
Don't lop off zeros on numbers being ported to us

**Additional context**
Teli did not associate any phone numbers with the po

[2020-12-22 03:51] #133 closed

[2020-12-22 04:04] #132 closed

[2020-12-25 07:02] danry25 commented on #122
@uncheckederror This issue persists

[2020-12-25 07:19] danry25 opened #134 "Permit blank caller ID on port request submission in Ops app"
**Describe the bug**
AccelerateNetworks.com tries to force users to enter a caller ID when porting in a phone number, but if the user enters a space as the caller ID it will let you add porting information. This is then trimmed to an empty string, preventing the port request from being submitted in the Ops app.

We discussed adding a checkbox that says "Do not set Caller ID", this would be a decen

[2020-12-25 07:21] danry25 commented on #130
@scottstrong206 Closing this as #wontfix as no business justification was provided for this feature request.

**How will this improve revenue or reduce our costs? Please provide a complete explanation!**

[2020-12-25 07:21] #130 closed

[2020-12-25 07:27] danry25 commented on #118
@Chattaeus What is the status on the feature videos? Reassigning this to you since your handling this.

[2020-12-26 18:44] #134 closed

[2020-12-26 18:44] uncheckederror commented on #134
CallerId is no longer a required field on the submission form.

[2020-12-26 19:46] uncheckederror commented on #108
Switched phone number ordering over in b4b3f4b.

[2020-12-26 19:57] danry25 commented on #108
What is left on the SOAP API? Querying for the numbers we own? The [get_tnRecord](https://portal.bulkvs.com/api/v1.0/documentation#/Origination/get_tnRecord) endpoint can be used to get this information.

[2020-12-26 19:58] uncheckederror commented on #108
Yes, that's the last piece. I am actively developing it now.

[2020-12-26 22:07] #108 closed

[2020-12-27 22:25] #128 closed

[2021-01-01 22:29] uncheckederror commented on #90
We are now ingesting Tollfree numbers from both Teli and BulkVS and exposing them through the Numbers page in the Mvc webapp.

[2021-01-01 22:30] uncheckederror commented on #107
Closing this as we've worked out a better solution/method in issue #90.

[2021-01-01 22:30] #107 closed

[2021-01-01 22:31] uncheckederror commented on #96
@danry25 is this still happening?

To what persistent storage should the bill images be saved?

[2021-01-01 22:35] uncheckederror commented on #109
I have added the ability to submit a port request to BulkVS via the Ops app. But it cannot split a single port request in our system into multiple port requests to BulkVS based on the underlying carrier.

[2021-01-03 05:22] #122 closed

[2021-01-03 06:26] uncheckederror commented on #90
![image](https://user-images.githubusercontent.com/11726956/103473095-91dc0900-4d49-11eb-8694-6f335ad2778a.png)

[2021-01-03 06:26] #90 closed

[2021-01-06 03:33] scottstrong206 commented on #120
**About Us:**

Dan, Scott, Kyle, and Tom all graduated from Ballard High School right here in Seattle, Washington. Accelerate Networks was established in 2015 to give business owners a better solution for phone service. We understood the frustrations companies felt with ineffective technology, skyrocketing prices, and lackluster customer support. Our team saw an opportunity to better serve clients

[2021-01-06 03:34] scottstrong206 commented on #120
Mission Statement:
To Accelerate businesses by delivering reliable phone systems, flexibility, reasonably low-cost, and friendly customer support.

[2021-01-06 06:08] danry25 commented on #120
I have done a first pass edit of this @scottstrong206, but I would like the input of @Chattaeus, @uncheckederror and @kylek206 too.

To view the original version of your comments, click on the dropdown arrow in the top bar of each comment to see the various versions of the About Us and Mission Statement.

[2021-01-07 21:04] danry25 opened #135 "Switch LRN providers"
**How will this improve revenue or reduce our costs? Please provide a complete explanation!**
Switching will result in significant cost savings, see out of band email @uncheckederror

**Is your feature request related to a problem? Please describe.**
Currently we use [LRNLookup](https://github.com/AccelerateNetworks/NumberSearch/blob/master/NumberSearch.DataAccess/TeleMessage/LRNLookup.cs) from Te

[2021-01-08 03:23] uncheckederror commented on #135
@danry25 The data returned by the BulkVS LRN lookup is not the same as what we're getting from Teli.

For example BulkVS does not return either the date the the number was last ported or the date that the number was first created.

[2021-01-08 06:07] uncheckederror commented on #120
This content is live: https://acceleratenetworks.com/Home/About

[2021-01-08 07:30] danry25 commented on #135
The activation date from the BulkVS LRN lookup is the last port date. Do we use the date the number was first created anywhere? I know we stopped showing that data on the Lookups page, not sure if we use it anywhere else.

[2021-01-08 19:36] uncheckederror commented on #135
I have remove the date the number was first created and set the last ported date to the activation date.

[2021-01-08 20:15] uncheckederror commented on #135
These changes are now live.

[2021-01-12 21:24] #135 closed

[2021-01-12 21:24] #120 closed

[2021-01-13 01:10] uncheckederror opened #136 "Send Order Confirmation Emails as Background Task"
**How will this improve revenue or reduce our costs? Please provide a complete explanation!**
Right now the final step of the checkout process is slow because we wait until we have confirmation that the emails have been sent before we return the success page to the user. A quick checkout will give users more confidence in our ordering/checkout system, thus improving revenue.

**Is your feature req

[2021-01-14 03:08] uncheckederror commented on #136
This change is live.

[2021-01-14 03:08] #136 closed

[2021-01-15 06:19] #109 closed

[2021-01-16 19:54] uncheckederror commented on #124
The reason why we make you click the "Add to Cart" button for each number is because when you click that button we immediately verify that the number is still purchasable.

As an example let's say that you wanted to purchase 40 numbers. We used to verify that each of these numbers was still available for purchase when you submitted your cart at checkout. But this lead to many problems like not bei

[2021-01-16 20:00] uncheckederror commented on #124
If we can figure out how to make the availability checks nearly instant, then we can implement this feature. But given our current architecture with multiple vendors I don't see a good way to make this work.

[2021-01-16 20:02] danry25 commented on #124
Could this not be done with some frontend javascript that calls the same add to cart endpoint (limiting itself to calling say 5 or 10 numbers at a time)? Then there would be no architectural changes on the server side.

[2021-01-16 20:11] uncheckederror commented on #124
This has come up a couple times, but you seem to believe that adding complexity to the website by creating an API (a whole separate app) and then adding JavaScript front-end will somehow be able to paper over the fact that our vendors are slow and unreliable.

It's true that the solution you're proposing will not timeout the page load. But it also won't be any faster for the user than just clickin

[2021-01-16 20:42] danry25 commented on #124
The goal is to make a simple user experience. Hitting the add to cart button a dozen times as your viewport gets bumped around the page (as a full page reload is forced) is not a good user experience. This is passable if you want to run our site without Javascript, but nearly all users will have Javascript.

Handling the [Add to cart](https://git.callpipe.com/btcphone/btcphone/-/blob/master/btcpho

[2021-01-16 21:41] danry25 commented on #124
@uncheckederror, to recap our discussion there are 3 topics contained in this issue:
- Buying a sequential block of numbers
- Buying a random group of numbers from an area code
- Not reloading the page when buying phone numbers

Further discussion on this issue will only be about **Buying a sequential block of numbers**, and not reloading the page when buying phone numbers will be broken out into

[2021-01-16 21:47] danry25 opened #137 "Avoid reloading the page when buying phone numbers"
**How will this improve revenue or reduce our costs? Please provide a complete explanation!**
Customers are confused when the Numbers page reloads when adding a phone number to the cart, as it resets the viewport of their browser causing them to lose track of what else they wish to buy on that same page.

During the 1 to 2 seconds it takes to reload the user cannot press the Add to cart button to

[2021-01-16 21:48] danry25 commented on #102
Closing this feature as scope creep.

[2021-01-16 21:48] #102 closed

[2021-01-16 23:04] uncheckederror commented on #137
@danry25 I am going to need a gallon of light grey paint to implement this feature.

[2021-01-17 01:02] danry25 commented on #137
@uncheckederror On it, do you have a particular shade of light grey paint in mind?

[2021-01-17 01:05] uncheckederror commented on #137
@danry25 ![image](https://user-images.githubusercontent.com/11726956/104828322-010f2e00-581d-11eb-971c-eb946589b415.jpeg)

[2021-01-18 03:52] uncheckederror commented on #137
@danry25 okay this is live try it out.

[2021-01-18 04:04] danry25 commented on #137
Neat, it works! I did find a way to cause a UI inconsistency, if I press Add to Cart on multiple numbers at the same time, the counter only increments up by 1 (until I do a full page refresh or click on the cart, all numbers are present in the cart as expected):
![Screenshot from 2021-01-17 20-03-20](https://user-images.githubusercontent.com/1683673/104871181-40ae4680-58ff-11eb-8f96-fd25f89c8e60.p

[2021-01-18 06:01] uncheckederror commented on #137
@danry25 the cart counter bug is fixed now. Please try it out.

[2021-01-18 07:12] danry25 commented on #137
@uncheckederror Seems to work really well, thanks for all your hard work on this!

[2021-01-18 07:12] #137 closed

[2021-01-19 03:14] danry25 commented on #110
This works! Thanks Tom!

[2021-01-19 03:14] #110 closed

[2021-01-19 03:22] danry25 commented on #96
Do we want to just use [Azure Blob Storage](https://azure.microsoft.com/en-us/pricing/details/storage/blobs/) or another S3 compatible API? I doubt we are going to use a full gigabyte of storage anytime soon, and @piajesse has indicated that setting up Minio (a self hosted S3 API) is not a priority currently.

[2021-01-19 05:59] piajesse commented on #96
I can spin up minio pretty fast, I just wanted to do some testing on it first. But for now I'd recommend wasabi, as its S3 api and $6/TB/month, unlimited bandwidth

[2021-01-24 22:42] uncheckederror commented on #24
@danry25 Please provide sample requests and responses for this API.

[2021-01-25 00:00] danry25 commented on #24
@uncheckederror I will reach out to Erxes and request an example of how to do the following via their GraphQL API:
- Create customer
- Create company with customer associated
- Create deal in sales pipeline with the following properties:
   - Attach Customer & Company
   - Create checklist of tasks to be done
   - Attach products & services and their value
   - Tag to specific user (Need to refine

[2021-01-25 06:06] uncheckederror commented on #124
https://acceleratenetworks.com/Search?Query=512&View=Sequential&Page=1

[2021-01-25 06:33] uncheckederror commented on #114
![image](https://user-images.githubusercontent.com/11726956/105669472-39a1ae00-5e94-11eb-96e0-1d1694e5e849.png)

https://acceleratenetworks.com/cart/order/56253120-7d0e-4fa9-af47-2d466b16b989

[2021-01-25 08:23] danry25 commented on #124
Thanks @uncheckederror & @dunkeltron, it looks quite nice!

[2021-01-25 08:23] #124 closed

[2021-01-25 08:27] danry25 commented on #114
Hmm, could we add a button or checkbox for it in the Ops app? Perhaps this ties in with #24 in the future, where an order is marked complete when the card relating to the order on the kanban board in Erxes is moved out of the Pre-install column and any outstanding port request is completed?

[2021-01-25 21:13] uncheckederror opened #138 "Lookups fail intermittently"
**Describe the bug**
The lookup page is throwing an exception intermittently.

**Expected behavior**
The lookups page should work consistently and reliably.

**Screenshots**
From the logs:

[code]

**Additional context**
@kylek206 reported this issue via text to @danry25.

[2021-01-25 23:32] #138 closed

[2021-01-26 03:51] uncheckederror commented on #114
![image](https://user-images.githubusercontent.com/11726956/105795087-1aad2580-5f41-11eb-8165-b9519f57c3a4.png)

![image](https://user-images.githubusercontent.com/11726956/105795383-9a3af480-5f41-11eb-9b0e-4d74628a1f30.png)

![image](https://user-images.githubusercontent.com/11726956/105795412-a6bf4d00-5f41-11eb-840c-40e6d4823ee7.png)

"Submitted" checks if the "DateSubmitted" field on the order

[2021-01-27 00:42] uncheckederror commented on #114
![image](https://user-images.githubusercontent.com/11726956/105925611-57d2ef80-5ff5-11eb-8550-e7f4febc266e.png)

![image](https://user-images.githubusercontent.com/11726956/105925647-5e616700-5ff5-11eb-9c31-73f000034432.png)

Updated the orders page to show the porting status, foc date, and completed status of each ported number in the order.

[2021-01-28 05:28] uncheckederror opened #139 "Hardware Inventory System"
**How will this improve revenue or reduce our costs? Please provide a complete explanation!**

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A

[2021-01-28 05:28] uncheckederror opened #140 "[MOONSHOT] Automatically Order Additional Hardware from TeleDynamics"
**How will this improve revenue or reduce our costs? Please provide a complete explanation!**

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A

[2021-01-28 05:29] uncheckederror opened #141 "Select a Sales Rep when submitting an order"
**How will this improve revenue or reduce our costs? Please provide a complete explanation!**

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A

[2021-01-28 05:30] uncheckederror opened #142 "Select an install date for hardware when ordering"
**How will this improve revenue or reduce our costs? Please provide a complete explanation!**

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A

[2021-01-28 05:44] uncheckederror commented on #114
@danry25 says we done. 🥳

[2021-01-28 05:44] #114 closed

[2021-01-28 05:58] uncheckederror commented on #54
Per @danry25:
We need to send out different porting information for each underlying carrier that we purchased the numbers from.

For Teli and Endstream we need to send the customer this info:
- The First and Last Name attached to the order
- Business Name (if this field is filled in)
- Address
- List of phone numbers purchased
All of this information is captured in the order when a customer submit

[2021-01-28 22:07] #54 closed

[2021-01-29 18:27] uncheckederror commented on #96
Ok this works now. You can submit a bill image as part of the port request form and then retrieve it from the port request page in the Ops app using the "Losing Carrier Bill" button at the top. @scottstrong206 @kylek206 @danry25

As an example check out this port request: https://ops.acceleratenetworks.com/Home/PortRequests/aaf1ea50-7c9e-4732-a4aa-9cceac325b83

![image](https://user-images.githubu

[2021-01-29 18:27] #96 closed

[2021-01-30 07:18] uncheckederror commented on #142
![image](https://user-images.githubusercontent.com/11726956/106350116-52410800-6288-11eb-91d2-0e055079e77a.png)

[2021-01-30 07:18] uncheckederror commented on #141
![image](https://user-images.githubusercontent.com/11726956/106350122-5a00ac80-6288-11eb-9509-60ce6f1b7dab.png)

[2021-01-30 07:51] #141 closed

[2021-01-30 08:00] #142 closed

[2021-01-30 18:21] uncheckederror commented on #71
@danry25 Given that we've opted out of creating FusionPBX integrations how can we verify that we own a number?

[2021-02-01 06:32] uncheckederror commented on #139
@danry25 please try it out. https://ops.acceleratenetworks.com/Home/Inventory

[2021-02-01 06:33] uncheckederror commented on #118
After the shoot today we are waiting on @Chattaeus to edit the final videos, upload them to NextCloud and then @danry25 to post them on YouTube so we can embed them on our features and support pages.

[2021-02-03 09:04] danry25 opened #143 "Trouble submitting port requests to BulkVS"
**Describe the bug**
In the Ops app when I try to submit either of the port requests for Nick to BulkVS, the port request does not get submitted to BulkVS.

**Expected behavior**
A new port request should be created, the Ops app should note the port request # and it should also be viewable in the BulkVS portal.

[2021-02-03 09:05] danry25 opened #144 "No date picker shown in Firefox when placing an order"
**Describe the bug**
When placing an order on AccelerateNetworks.com, the field that requests a preferred install date is just a freeform text field. Should this be a date picker?

[2021-02-04 02:59] uncheckederror commented on #144
Can you clear your cache and get screenshot of the issue? Are there any errors in the browser console?

[2021-02-04 03:38] uncheckederror commented on #143
When I attempted to reproduce this issue all 5 number were successfully submitted to BulkVS for porting.

![image](https://user-images.githubusercontent.com/11726956/106841677-6b1a3680-6657-11eb-8b6b-12838b5e3bde.png)

[2021-02-04 04:39] uncheckederror commented on #143
Upon thinking about this issue further it occurred to me that this is the only place in the Ops app where we're making a call to the BulkVS REST API, and that perhaps the credentials (username and password) weren't getting passed into the controller correctly. Similar problems have cropped up before.

I reviewed the appsettings.json file in the Ops app and found that the BulkVSUsername key was mis

[2021-02-04 04:42] uncheckederror commented on #144
![image](https://user-images.githubusercontent.com/11726956/106845614-25ae3700-6660-11eb-96da-c2a416b92bce.png)

It looks like a text box on iOS until you click on it, at which point it prompts you with the image above.

[2021-02-04 04:45] uncheckederror commented on #140
This work is blocked until we resolve issue #139.

[2021-02-06 05:59] danry25 commented on #144
It appears [Firefox does not support type="datetime-local"](https://caniuse.com/input-datetime), @uncheckederror could you either split this into [separate type="date" and type="time" inputs](https://stackoverflow.com/questions/26495326/alternative-to-datetime-local) or use a polyfill?

[2021-02-06 06:13] uncheckederror commented on #144
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/datetime-local

It's a webstandard, what are they doing?

We already have a text fall back that provides data in the same format. I don't see an advantage to breaking this functionality for all other browsers to make it a slightly less awkward experience for Firefox users.

[2021-02-06 06:18] danry25 commented on #144
@uncheckederror That is reasonable, can you put a polyfill in place then?

[2021-02-08 20:43] danry25 commented on #143
@uncheckederror I am experiencing this again with the most recent port request for Nick that has 1 phone number associated.

[2021-02-08 20:48] danry25 commented on #144
Currently in Firefox you are unable to submit the order unless you guess the right format (which is 2021-02-22T11:43 or similar).

Thoughts on using a polyfill @uncheckederror or hiding this when Firefox is detected and making the field optional moving forward?

![Screenshot from 2021-02-08 11-45-24](https://user-images.githubusercontent.com/1683673/107279172-8dbb9f00-6a0b-11eb-85a4-92aa5d649521.p

[2021-02-08 20:50] uncheckederror commented on #144
Still considering the our options. If we wait long enough Firefox might get around to implementing this standard. This field is now, and has always been optional. As are all the fields under the "Installation Information" header.

[2021-02-08 20:55] uncheckederror commented on #143
I've found a bug where the error messages were getting suppressed from the UI and the log.

[2021-02-08 21:07] danry25 commented on #144
Hmm, I was unable to submit the order without filling in the Preferred Installation Date with a valid value. Firefox does not seem to be handling that this form field is optional...

Datetime-local is a web standard, but Apple only started supporting it a few months ago in Safari, and Mozilla has made no progress in implementing it [over the last 8 years](https://bugzilla.mozilla.org/show_bug.cgi?

[2021-02-08 21:12] danry25 commented on #143
Ok, let me know when the fix is pushed to production and I will retest!

[2021-02-08 21:18] danry25 commented on #143
I retested and the following error was generated:

[code]

[2021-02-08 21:23] danry25 commented on #71
@uncheckederror If we buy a number from anyone besides FirstPoint/Endstream, it is safe to assume we own it. Otherwise it needs manual verification.

[2021-02-08 21:43] uncheckederror commented on #143
I have updated the handling of failure messages from BulkVS to show them directly in the web app.

![image](https://user-images.githubusercontent.com/11726956/107285175-a334c700-6a13-11eb-859a-04f1c61d6407.png)

[2021-02-09 00:22] danry25 commented on #143
Cool, that is really helpful! Now I know to go bug the vendor since they screwed up and marked the number as being owned by us when it is still with the old provider.

[2021-02-09 18:10] #143 closed

[2021-02-10 20:02] danry25 commented on #60
If a phone number has a note of Unassigned, we should offer it for sale @uncheckederror. Looks like #61 is now complete, which was the blocker on this issue.

[2021-02-10 20:08] danry25 commented on #139
Can we modify the header on Inventory to have a dropdown on Name and hide the product ID? This would make it similar to how Shipments work at the bottom of the page.
![Screenshot from 2021-02-10 12-06-54](https://user-images.githubusercontent.com/1683673/107565391-84ac0880-6b98-11eb-9594-7974aec45f72.png)

[2021-02-10 20:13] uncheckederror commented on #139
Well so that form is for creating a product. Therefore you wouldn't know what the name is prior to its creation.

[2021-02-10 20:15] uncheckederror commented on #60
Okay, I will have to add this as a step to the ingest process.

[2021-02-10 23:47] danry25 opened #145 "Billing Client Id and Owned By are not set when a phone number is ordered"
**Describe the bug**
When a customer orders or ports a number on AccelerateNetworks.com and a bill or quote is generated, we should set the Billing Client ID to what is held by InvoiceNinja.

Is Owned By supposed to be the human readable name of the client? Perhaps we shouldn't allow setting of this field by humans, and instead the Ingest app will pull this from InvoiceNinja based on the Billing c

[2021-02-10 23:48] uncheckederror commented on #145
Fake News

[2021-02-11 00:42] danry25 opened #146 "Owned Phone Numbers - Multi-select edit"
**How will this improve revenue or reduce our costs? Please provide a complete explanation!**
This feature saves labor when updating records by enabling many phone numbers to be selected and updated simultaneously in the Ops application under Owned Numbers.

**Describe the solution you'd like**
A checkbox next to each number, which when checked triggers a bulk changes menu that enables you to upda

[2021-02-11 00:48] uncheckederror opened #147 "Set the Billing Client Id on Owned Numbers when the number has been purchased or ported through the website"
**How will this improve revenue or reduce our costs? Please provide a complete explanation!**

This will reduce the amount of time employees have to spend figuring out which phone numbers are owned by which of our clients.

**Is your feature request related to a problem? Please describe.**

Right now we have a big list of phone numbers that we own but no way to tell what clients they are assigned

[2021-02-11 01:49] uncheckederror commented on #60
Okay, @danry25 please try buying a number we already own from the website.

[2021-02-11 02:00] danry25 opened #148 ""Port completion date set" Emails being sent incorrectly for BulkVS port requests"
**Describe the bug**
An email saying the "Port completion date set" is sent despite the phone numbers on a port request not having a status of FOC (eg: the individual phone numbers have a status of Pending, Exception or similar).

**Expected behavior**
Only send an email titled "Port completion date set" when we have FOC on a phone number on a particular port request.

**Additional context**
Custo

[2021-02-11 03:27] danry25 commented on #60
@uncheckederror This works! Woohoo!

The only confusing part is the Billing Client ID is not set and the note saying the number is Unassigned is also not changed, so the number is still available for puurchase.

[2021-02-11 05:16] danry25 commented on #139
How would I go about editing the Price, Description, name or Publicly Visible status of a product?

[2021-02-11 08:11] uncheckederror commented on #60
Okay I've addressed this feedback in the new build. Please try it out.

[2021-02-11 08:33] danry25 commented on #60
Neat, that seems to work well! Is there any way we can parse old orders and apply the client ID and purchased on info to said numbers?

[2021-02-11 08:36] uncheckederror commented on #60
Yes, that's issue #147.

[2021-02-11 08:39] uncheckederror commented on #145
This feature is now being tracked in #147.

[2021-02-11 08:39] #145 closed

[2021-02-11 18:56] #60 closed

[2021-02-11 19:29] #148 closed

[2021-02-11 20:37] scottstrong206 opened #149 "Tax Rates - Failed to create a Tax Rate"
**Describe the bug**
I tried to generate a tax rate for a specific address in ZIP 98372, then I tried generating a tax rate for 98372 in the Ops app, but all attempts failed. Is the Washington State API down again?

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ops.acceleratenetworks.com
2. Click on Tax Rates
3. Scroll down to Tax Rate by Address
4. Enter an address or Zip code, then

[2021-02-11 20:50] uncheckederror commented on #149
Huh, seems to work for me?

![image](https://user-images.githubusercontent.com/11726956/107697107-a88a4f80-6c67-11eb-9ed3-820437dfbaec.png)

[2021-02-11 21:55] uncheckederror commented on #149
2021-02-11 13:49:14.302 -08:00 [FTL] Call failed. The SSL connection could not be established, see inner exception: GET https://webgis.dor.wa.gov/webapi/AddressRates.aspx?output=xml&addr=4415%2031st%20Ave%20W&ci$2021-02-11 13:49:14.314 -08:00 [FTL]    at Flurl.Http.FlurlRequest.HandleExceptionAsync(FlurlCall call, Exception ex, CancellationToken token)
   at Flurl.Http.FlurlRequest.SendAsync(HttpM

[2021-02-12 00:36] uncheckederror commented on #149
@danry25 based on our conversation can you work some ngnix magic?

[2021-02-12 00:38] uncheckederror opened #150 "Port Request Bill Image upload breaks on large files"
**Describe the bug**
Files that are more than 1 MB can't be uploaded during the port request process on the website.

**To Reproduce**
Attempt to upload a large PDF into the port request process.

**Expected behavior**
File of up to 100 MBs should be uploadable.

[2021-02-12 00:39] uncheckederror commented on #150
Based on our conversation @danry25 needs to update the ngnix configuration to allow for larger files to be handled by the web server.

[2021-02-12 01:09] danry25 commented on #149
I think the [openssl config is setting the system level too high](https://www.reddit.com/r/freeswitch/comments/duzzt2/problems_with_tls_after_upgrading_from_debian_9/) for TLS, as Washington State's API webserver appears to use obsolete ciphers, has a 1 second clock skew, and is likely behind an F5 Networks load balancer (the same ones that caused TLSv1 breakage).

I have altered this, let me fix

[2021-02-12 01:26] uncheckederror commented on #149
Sounds good @danry25

[2021-02-12 01:32] danry25 commented on #150
I implemented a fix for this, but when I try to upload a bill it still says Choose File and I don't see the file getting uploaded in Dev Tools. I tested in Firefox 78.7.0esr (64-bit) and Chromium Version 87.0.4280.141 (Developer Build) built on Debian 10.7, running on Debian 10.7 (64-bit).

[2021-02-12 01:34] uncheckederror commented on #150
Look in the ops app, it's there.

The file gets uploaded when you submit the page, not before.
________________________________
From: Dan <notifications@github.com>
Sent: Thursday, February 11, 2021 5:32 PM
To: AccelerateNetworks/NumberSearch <NumberSearch@noreply.github.com>
Cc: Thomas Ryan <thomas.ryan@outlook.com>; Author <author@noreply.github.com>
Subject: Re: [AccelerateNetworks/NumberSearch

[2021-02-12 01:48] danry25 commented on #150
@scottstrong206 This bug is now fixed, feel free to upload bills along with port requests!

[2021-02-12 01:48] #150 closed

[2021-02-12 01:51] danry25 commented on #149
I restarted nginx and numbersearchops after making this change, but the tax rate lookup still returns "Failed to create a Tax Rate for 2318 E Cherry St, Seattle, 98199."

@uncheckederror Is the HTTPS connection to https://webgis.dor.wa.gov/webapi/ opened by the Ops app or by the Ingest app?

[2021-02-12 01:52] uncheckederror commented on #149
By the Ops app

[2021-02-12 01:54] danry25 commented on #149
Crumb, I am not sure what is wrong then. [Can you get what URL is being constructed here](https://github.com/AccelerateNetworks/NumberSearch/blob/6e1a31d0d68494a0441be6fe98c22d04d4afc1be/NumberSearch.DataAccess/SalesTax/WA.cs#L92) and I can test further?

[2021-02-12 04:53] uncheckederror commented on #149
Well I could write something to selfhost this service this weekend, and then we can just be done with this dependency. Or you could file a ticket with the state?

[2021-02-12 04:54] danry25 commented on #149
I emailed the state already, hopefully they will fix their API.

[2021-02-12 04:54] uncheckederror commented on #147
@danry25 okay this is live, try it out in the Ops app.

[2021-02-12 21:07] danry25 commented on #147
Seems to be working well, thanks Tom!

[2021-02-12 21:07] #147 closed

[2021-02-12 21:12] danry25 opened #151 "Ops App - Display Billing Client Name and ID in Owned Numbers Overview"
**How will this improve revenue or reduce our costs? Please provide a complete explanation!**
This will display the Billing Client Name and ID associated with each number when looking at many numbers in Owned Numbers in the Ops app, enabling our sales and support team to view who owns a number without clicking on it

**Additional context**
This is to make use of the additional data collected by th

[2021-02-12 21:39] #151 closed

[2021-02-17 04:17] uncheckederror commented on #118
@Chattaeus can you paste the links to the YouTube videos here?

[2021-02-19 03:44] Chattaeus commented on #118
This is the first in the playlist for the 2615:
https://www.youtube.com/watch?v=ZvnveaC6an8&list=PLy8FSfLD62uOCqDyG130sZvnZO97rLygm
This is the first video in the playlist for the 2170:
https://www.youtube.com/watch?v=hB2VfAYuLic&list=PLy8FSfLD62uMbuJIjxrjBsCMKsZ2Wpknp
This the first video in the playlist for the 2135:
https://www.youtube.com/watch?v=xkIBKdGjHuM&list=PLy8FSfLD62uME4KaKtMl5LKJ5zAGN

[2021-02-19 03:50] uncheckederror commented on #118
Excellent thanks @Chattaeus!

[2021-02-19 19:45] kylek206 opened #152 "Number Search Error"
**Describe the bug**
When going to port out Dynamic Designs phone number it gave me an HTTP Error 405 saying this page isn't working. Can't complete port request.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'acceleratenetworks.com'
2. Click on 'Number Search'
3. Scroll down to ' Enter phone number: 4258277722 click Transfer, then enter business information - Owner: Jeanette Betton,

[2021-02-19 20:16] uncheckederror commented on #152
@kylek206 looks like the order went in if you check in the Ops app. https://acceleratenetworks.com/cart/order/d3e3193b-c2a1-4d8e-89a5-c36c5b85c357

[2021-02-19 20:21] uncheckederror commented on #152
From the log file:

2021-02-19 09:56:36.723 -08:00 [ERR] HTTP POST /Cart/Submit responded 500 in 3232.0672 ms
System.IO.FileNotFoundException: Could not load file or assembly 'System.Reflection.TypeExtensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'. The system cannot find the file specified.

File name: 'System.Reflection.TypeExtensions, Version=4.0.0.0, Culture=neutral

[2021-02-19 20:22] uncheckederror commented on #152
This appears to be a problem with the library that we're using the create the calendar invites when an install date is selected.

[2021-02-19 20:45] uncheckederror commented on #152
@kylek206 okay, I've published a new build of the website and submitted an order following the steps you provided. I believe this issue is now resolved. Please try it again, thanks!

[2021-02-19 20:45] #152 closed

[2021-02-20 00:01] uncheckederror commented on #118
https://acceleratenetworks.com/Phones/GRP2615

@Chattaeus @danry25 what say you?

[2021-02-20 00:19] Chattaeus commented on #118
That's fresh. How do you get to it from the main website though? Can we make the features page look this good?

[2021-02-20 00:23] uncheckederror commented on #118
@Chattaeus it's under the support drop down for now. Yes, we can, eventually.

[2021-02-20 00:26] danry25 commented on #118
@uncheckederror I like this, but I feel like we need to link to it from the Knowledgebase rather than just adding a phone model in the support dropdown. It also creates a weird bifurcation between the embedded Erxes Knowledgebase and the phone specific support articles.

Is there a reasonable way to make our knowledgebase/phone video page more coherent? Should we bring these in as native pages and

[2021-02-20 00:29] uncheckederror commented on #118
The phone specific pages are good for SEO and hard linking to content as opposed to the Erxes Knowledgebase which doesn't help with either of those items.

[2021-02-20 00:40] danry25 commented on #118
Is there an existing Dotnet Core module for Knowlegebases we can import? I don't want to have to update these pages by editing HTML (which is what we would have to do [for the current GRP2615 page](https://github.com/AccelerateNetworks/NumberSearch/commit/07f217c153b5ebb3494ce8d11649c3dc97923d55)), as I doubt I could convince @Chattaeus or anyone else to do so.

Need a WSIWYG or markdown editor fo

[2021-02-20 07:19] danry25 opened #153 "Port completion date not set in notification email body or title on mixed port requests"
**Describe the bug**
When only some phone numbers have a port completion date set, the first sentence in the body of the email does not mention a date on which the port request will complete. The title also fails to include the date the port request is set to complete on.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to AccelerateNetworks.com
2. Submit a port request where some numbers

[2021-02-20 20:04] uncheckederror opened #154 "Create Support pages from Markdown files"
Is there an existing Dotnet Core module for Knowlegebases we can import? I don't want to have to update these pages by editing HTML (which is what we would have to do [for the current GRP2615 page](https://github.com/AccelerateNetworks/NumberSearch/commit/07f217c153b5ebb3494ce8d11649c3dc97923d55)), as I doubt I could convince @Chattaeus or anyone else to do so.

Need a WSIWYG or markdown editor fo

[2021-02-20 20:08] uncheckederror opened #155 "Create GIFs for each of the items on the Features page"
Adding GIFs will help to explain the feature set that we offer and improve the conversion of sale leads.

Right now there is no imagery to accompany the items on the Features page. This is a missed opportunity to improve the conversion rate of the website.

I want each feature to have a gif that demos that feature.

[2021-02-22 21:09] uncheckederror commented on #153
The reason that the number and FOC date are blank in this email is because the first number in the list does not have an FOC date set.

[2021-02-22 21:09] #153 closed

[2021-02-22 21:26] kylek206 opened #156 "Failed To Create Tax Rate!!!"
**Describe the bug**
I went to go create a new Tax rate and it Failed to convert to our billing system.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'ops backend page'
2. Click on 'Tax Rates'
3. Scroll down to 'Scroll down and enter address (Sammamish Tax Rate)'
4. See error 'Create Tax Rate and then you see error'

**Expected behavior**
I should be able to enter any address and or

[2021-02-22 21:34] uncheckederror commented on #156
Hey Kyle thanks for reporting this bug! I apricate the work you're doing. We're currently having trouble communicating with the State's Tax Rates API. Dan will update you when it is resolved.

[2021-02-22 21:37] uncheckederror commented on #156
Duplicate of #149

[2021-02-22 21:38] uncheckederror commented on #149
@kylek206 @scottstrong206, @danry25 is communicating with the tech support people at the State to get this issue resolved.

[2021-02-22 21:42] danry25 commented on #149
@uncheckederror I have made no progress getting the State of Washington to acknowledge that there is a TLS issue breaking queries to the tax rates API from DigitalOcean.

We could move AccelerateNetworks.com to a different host like Linode, where these queries do work fine from, or downgrade to not using TL[S when querying this API](https://github.com/AccelerateNetworks/NumberSearch/blob/master/Nu

[2021-02-22 22:18] uncheckederror commented on #156
@kylek206 I've released a new version of the app that fixes this issue, can you try it again?

[2021-02-22 22:19] uncheckederror commented on #149
@scottstrong206 I've release an update that should fix this issue, can you try it again? Thanks

[2021-02-23 01:52] kylek206 commented on #156
@uncheckederror I tried again and gave me the same error message!

[2021-02-23 02:05] danry25 commented on #149
@uncheckederror The tax rates API still fails over HTTP inconsistently when accessed from DigitalOcean. One minute it will work, the next it will fail to give a valid response.

[2021-02-23 02:10] danry25 commented on #118
For the GRP2615 Page, a table of contents with links to each subsection would be helpful so that users can easily navigate the page without having to scroll through the whole page.

[2021-02-23 07:55] uncheckederror commented on #149
@danry25 I don't have any options to offer until I finish reimplementing this Tax Rates API.

[2021-02-23 08:39] danry25 commented on #149
@uncheckederror Guessing you already added retry logic to this API?

[2021-02-23 23:41] uncheckederror commented on #149
@danry25 The query will be retry 10 times before failing out now.

[2021-02-24 18:04] uncheckederror commented on #156
@kylek206 I have added a bunch of retry logic, it may take longer to process, but hopefully it will work for you now. Please try it again and let me know. Thanks!

[2021-02-24 19:41] uncheckederror commented on #118
@danry25 I have added a table of contents, try it out.

https://acceleratenetworks.com/Phones/GRP2615

[2021-02-24 19:46] Chattaeus commented on #118
Hey @uncheckederror can we get a typo correction on "Create a Voice Mail Greeting" and make it "Create a Voicemail Greeting?"

[2021-02-24 19:48] uncheckederror commented on #118
@Chattaeus you'll have to teach me how to speel and fix my dyslexia first. 🤣

Glad you like it.

[2021-02-24 20:25] danry25 commented on #118
@uncheckederror It appears the header for Confrence is also misspelled, but this is correctly spelled as Conference in the text below the video.

[2021-02-24 21:16] uncheckederror commented on #118
@Chattaeus @danry25 okay, fixed.

[2021-02-24 21:37] danry25 commented on #118
@Chattaeus Can you record a video showing how to change the ringtone for each model of phone?

[2021-02-24 21:42] Chattaeus commented on #118
Can add that to list so it gets done with the next round. Need to do a series for the Yealink too. I will need another GRP2615 to do that one though. My demo model is now in use elsewhere.

[2021-02-24 21:56] uncheckederror commented on #118
All three phones are up on the support page now: https://acceleratenetworks.com/Home/Support

[2021-02-24 22:45] danry25 opened #157 "Refer user directly to quote or invoice"
**How will this improve revenue or reduce our costs? Please provide a complete explanation!**
We should direct users to the InvoiceNinja invoice or quote after order submission (maybe embed this on the order confirmation page?). This will enable clients to pay us sooner, improving revenue.

**Additional context**
Currently the client has a link to the quote or invoice emailed to them, but this is

[2021-02-24 22:53] danry25 opened #158 "Call to action on Hardware, Services and Numbers pages"
**How will this improve revenue or reduce our costs? Please provide a complete explanation!**
When you add a service, product or phone number to the cart you need to scroll to the top of the page and click on Cart to check out.

The call to action to move to the next page (eg: Phone Numbers or Hardware is hidden at the bottom of the page, and the user isn't guided to look at the Services page if t

[2021-02-24 22:55] danry25 opened #159 "Show Number Search above the fold on the home page"
**How will this improve revenue or reduce our costs? Please provide a complete explanation!**
Highlighting a key differentiator where people can find a phone number and emotionally invest in buying that particular number will improve sales and ensure they complete the checkout process.

**Describe the solution you'd like**
Adding the Number Search form right below the video on the home page should

[2021-02-24 22:58] uncheckederror commented on #157
So we are skipping the order submission success page, and then bumping them into the link we currently include in the email?

[2021-02-24 23:26] danry25 commented on #157
Not sure if that is an ideal workflow, maybe open the Order Confirmation page in a new tab and redirect the current page to InvoiceNinja?

Or perhaps embed the customer view of the invoice in the Order Confirmation page?

[2021-02-25 05:49] uncheckederror commented on #157
Is the one time link to InvoiceNinja really a one time link? It looks like you can click on it repeatedly and it will take you to the same invoice in the billing system.

If this is the case, then we can use it in the order submission success page and in the confirmation email.

[2021-02-25 07:25] danry25 commented on #118
The word received is misspelled as [recieve](https://github.com/AccelerateNetworks/NumberSearch/search?q=recieve)

[2021-02-25 18:15] #156 closed

[2021-02-25 21:24] uncheckederror commented on #157
@danry25 I have pushed these changes to the site, please complete a test order to try them out.

[2021-02-25 23:20] uncheckederror commented on #158
I get that we want to take a more aggressive approach to pushing customers through to checking out their cart, but I'm not sure exactly what this will look like.

The right and left hand sides of the page aren't unused per se, rather they are the margins of the page that we expand and contract to keep the design of website responsive to changes in screen-size.

We could add a column on the right h

[2021-02-25 23:27] uncheckederror commented on #159
I am not sure this is a good idea. If we put a specific product on the home page, it will define what external groups see as our core business.

As an example of an alternative direction, we could put the top two items (lines and seats) from the Services page on the home page.

Do we want to be a phone number sales service (which so far hasn't produced significant organic revenue) or do we want to

[2021-02-25 23:47] uncheckederror commented on #118
@danry25 typos fixed.

[2021-02-27 22:51] scottstrong206 commented on #149
Invoice 2443 generated without a tax rate. Perhaps the suite number broke the tax rate lookup?

[2021-03-01 20:54] scottstrong206 opened #160 "Always Charge Port Fees"
**How will this improve revenue or reduce our costs? Please provide a complete explanation!**
This will improve revenue by capturing additional revenue for a process that requires manual time and effort.

**Is your feature request related to a problem? Please describe.**
This feature would help solve the confusion of when a customer is going to pay a port fee.

**Describe the solution you'd like**

[2021-03-01 21:16] uncheckederror commented on #149
Yep, that's probably what happened. It should fall back to the zip code only method if that happens though. I'll investigate.

[2021-03-01 21:38] danry25 commented on #160
@uncheckederror Yes, remove the automatic discounting process.

Perhaps we should add a promotions field in addition to notes? The goal is to have the initially generated invoices be accurate moving forward.

[2021-03-01 21:42] uncheckederror commented on #160
We could do promo codes where the codes are added like items to your cart so you can see it in the order before you submit it.

[2021-03-03 23:14] scottstrong206 opened #161 "HTTP ERROR 405 when porting number"
**Describe the bug**
I was going to submit a port request I added the first number to the cart and it worked normally. However, the next number I got an error code on the website "HTTP ERROR 405"

**To Reproduce**
1) add number to cart
2) attempted to add 2nd number to cart

**Expected behavior**
it would add to cart like normal

**Screenshots**
![image](https://user-images.githubusercontent.com/7

[2021-03-03 23:16] uncheckederror commented on #161
Hey Scott, thanks for reporting this issue. I will investigate.

[2021-03-03 23:20] danry25 commented on #161
@scottstrong206 This seems to work fine for me, if you could provide the affected numbers to us via email along with how they were formatted (eg: 206-858-8757, (206) 858-8757, etc) when submitted and whether you ran this through the Lookups page or the Numbers page, that would be quite helpful!

[2021-03-03 23:38] danry25 opened #162 "Privacy Policy"
**Describe the bug**
We currently do not have a privacy policy listed, blocking [Linphone-Android Issue #8
](https://github.com/AccelerateNetworks/linphone-android/issues/8) from being resolved.

**Expected behavior**
We should tell our clients how we handle their data and what content they can expect to be shared.

**Additional context**
We generally do not share data with external parties, excep

[2021-03-03 23:47] danry25 opened #163 "Charge money for on site installations"
**How will this improve revenue or reduce our costs? Please provide a complete explanation!**
We will make more money by charging for installing phone hardware on site.

**Is your feature request related to a problem? Please describe.**
Currently the website sets an expectation that every order gets an installation date set, even when no hardware is ordered. Calendar invites are sent immediately w

[2021-03-04 00:10] danry25 commented on #162
We are a BBB member, so I am going to [modify their template](https://www.bbb.org/sacramento/for-businesses/toolkits/Sample-Privacy-Policy/) and post it below.

@uncheckederror Can you add this page, close this issue then update the Linphone-Android issue with what the URL to this page is?

[code]

[2021-03-04 00:18] danry25 opened #164 "Link to Phone specific pages from Hardware page"
**How will this improve revenue or reduce our costs? Please provide a complete explanation!**
By adding a hyperlink to each phone card that links to the adjoining Phone specific videos/quick guide material, we will enable customers to easily envision themselves using these phones. Perhaps we should just add this as a user settable field in the Ops app for each hardware item?

**Is your feature req

[2021-03-04 00:21] danry25 opened #165 "Add an image of each phone to Support Page"
**How will this improve revenue or reduce our costs? Please provide a complete explanation!**
Customers will be able to navigate to the correct phone specific support page (containing our videos) without getting confused trying to figure out what model of phone they have.

**Is your feature request related to a problem? Please describe.**
Most Grandstream phones do not have their model number show

[2021-03-04 03:49] uncheckederror commented on #165
@danry25 how about this?

![image](https://user-images.githubusercontent.com/11726956/109908706-95144800-7c59-11eb-8f3d-42aea04dadbb.png)

[2021-03-04 03:58] danry25 commented on #165
Looks quite nice!

[2021-03-04 03:58] #165 closed

[2021-03-04 04:24] uncheckederror commented on #162
@danry25 technically we already have a Privacy policy page: https://acceleratenetworks.com/home/privacy 🤯🤣

[2021-03-04 04:37] uncheckederror commented on #164
I have added this as text link that can be defined in the Ops app. Support links will not be shown on the Hardware page unless a link actually exists.

[2021-03-04 04:43] danry25 commented on #162
@uncheckederror Technically True, the best kind of True!

[2021-03-04 04:47] uncheckederror commented on #164
This feature only applies to 2 of the phones on the Hardware page because we no longer list the GXP2135 for sale.

![image](https://user-images.githubusercontent.com/11726956/109912812-a9f4d980-7c61-11eb-8b5c-daad3632e8d7.png)

[2021-03-04 04:49] danry25 commented on #164
@uncheckederror We should fix that and list it at $115ea (MSRP), as Scott & Kyle sell it on a daily basis. We are listing even older phones like the GXP2140...

[2021-03-04 05:43] uncheckederror commented on #164
@danry25 I have added it to our listings.

![image](https://user-images.githubusercontent.com/11726956/109917000-7322c180-7c69-11eb-8064-9ca515d1b963.png)

[2021-03-04 18:36] #164 closed

[2021-03-04 18:37] #162 closed

[2021-03-04 19:00] uncheckederror commented on #163
When there are no products in the order the install date is greyed out:

![image](https://user-images.githubusercontent.com/11726956/110015366-a0f31f00-7cd8-11eb-818b-de313482b6f6.png)

When you add any piece of hardware, the install date becomes settable again.

![image](https://user-images.githubusercontent.com/11726956/110015467-bcf6c080-7cd8-11eb-8f34-70637d80287e.png)

[2021-03-04 19:05] uncheckederror commented on #163
How should we show remote install versus in-person installation option on this checkout page and explain the terms and work rates?

[2021-03-05 21:07] #157 closed

[2021-03-05 21:09] #161 closed

[2021-03-07 00:05] uncheckederror commented on #160
I have removed the code that automatically discounted ported phone numbers and I have added a coupon system to allow for the discounting of all the ported phone numbers in an order.

[2021-03-07 00:05] #160 closed

[2021-03-07 05:40] uncheckederror commented on #163
I have update the Mvc add so that when hardware is part of your order you are presented with a choice between Remote or Onsite installation and added some flavor text to explain the options. If onsite installation is selected a $60 call out charge is added to the upfront invoice.

![image](https://user-images.githubusercontent.com/11726956/110230267-9eedb380-7ec4-11eb-9958-72679893ab69.png)

[2021-03-07 05:41] #163 closed

[2021-03-08 08:11] danry25 commented on #155
@Chattaeus Can you assist with making these gifs? I have not had time to handle this, basically run the relevant videos through a Video to Gif program like [GifTuna](http://giftuna.io/) and select the action shot that makes the most sense for each feature, then add these to [the images folder](https://github.com/AccelerateNetworks/NumberSearch/tree/master/NumberSearch.Mvc/wwwroot/images/original)

[2021-03-08 08:23] danry25 opened #166 "Additional Hardware Videos"
**How will this improve revenue or reduce our costs? Please provide a complete explanation!**
Making additional videos about each model of phone will help potential clients envision using our phones. Additionally, new clients can setup and use their phones more easily thanks to these videos

**Is your feature request related to a problem? Please describe.**
Clients often feel an inability to perfo

[2021-03-10 04:01] uncheckederror commented on #166
@danry25 I have update the links on the hardware page to direct the GRP2612, GRP2612 Wifi, and GRP2613 to the GRP2615 support videos page. I have also update the links so that the GXP2140 and GXP2160 link to the GXP2170 support videos page. The GXP2135 has it's own support videos page so I've left that alone rather than redirecting it to the GXP2170 page.

We do not have support videos for any Yea

[2021-03-11 18:09] uncheckederror commented on #24
@danry25 what is the current status on getting examples from Erxes?

[2021-03-11 18:12] uncheckederror opened #167 "Verify that we own numbers purchased through FirstPoint/Endstream"
@uncheckederror If we buy a number from anyone besides FirstPoint/Endstream, it is safe to assume we own it. Otherwise it needs manual verification.

_Originally posted by @danry25 in https://github.com/AccelerateNetworks/NumberSearch/issues/71#issuecomment-775471622_

To verify that we own a number we'll need a FusionPBX API that we can use to place a call to the number in question and verify tha

[2021-03-11 18:13] #71 closed

[2021-03-11 18:13] #118 closed

[2021-03-11 18:15] uncheckederror commented on #146
Building this would require an authenticated REST API to be part of the Ops app. Adding something like that would be a significant increase in complexity and maintenance burden.

[2021-03-11 19:09] #159 closed

[2021-03-11 19:13] uncheckederror commented on #166
@Chattaeus filmed videos for one of the Yealink (pronounced Yay-link) devices last night. I am waiting for links to the videos to be provided before I can create a support page for it.

[2021-03-13 21:34] uncheckederror commented on #139
I have updated this to use the shipments to total up the available product quantities.

[2021-03-14 00:31] danry25 opened #168 "Update homepage flavor text"
**How will this improve revenue or reduce our costs? Please provide a complete explanation!**
A more concise description of the Number Search feature will encourage more people to try it!

**Is your feature request related to a problem? Please describe.**
The current flavor text is not concise in the context of being above the fold on the front page.

**Describe the solution you'd like**
Update th

[2021-03-14 01:06] danry25 commented on #158
After further discussion the plan is to fix the top bar to the top of the viewport (like done in [the Bootstrap documentation](https://getbootstrap.com/docs/4.3/layout/overview/)).

Additionally, on the Services page we should move the Add Hardware button to a row at the bottom of the viewport to prompt our clients to move to the next step in the ordering process. The Hardware page should have two

[2021-03-14 07:48] uncheckederror commented on #168
Here's the result of these changes on the homepage:

![image](https://user-images.githubusercontent.com/11726956/111061129-9f52f500-8456-11eb-87cc-afe660d0c010.png)

[2021-03-14 08:03] #168 closed

[2021-03-14 22:20] danry25 opened #169 "Hardware page has become unorganized"
**Describe the bug**
When the Hardware page was converted from a static list of hardware we sold to a dynamic list of hardware that we could manage through the Ops app (without making a PR or editing the repository on Github) the layout of phones on our hardware page was lost.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://acceleratenetworks.com/hardware
2. Note how it is not

[2021-03-14 22:39] #158 closed

[2021-03-14 22:56] danry25 opened #170 "Arrows don't appear properly"
**Describe the bug**
The ⮜ and ⮞ characters do not appear as arrows in Firefox or Chromium on Android 10 or Debian, nor do they show up in Chrome for Android. Only a square with numbers is shown (Firefox) or a square with an X inside is shown (Chromium and Chrome)

**To Reproduce**
Steps to reproduce the behavior:
1. Open Firefox, Chromium or Chrome for Android (tested on an LG running Android 10

[2021-03-15 00:27] #170 closed

[2021-03-15 00:57] danry25 commented on #169
@uncheckederror Can we get the priority values to prioritize objects starting from the left side of the screen rather than the right side of the screen?

Thanks for knocking this out so quick!

[2021-03-15 01:21] #169 closed

[2021-03-15 05:41] Chattaeus commented on #166
Have the first 9 uploaded to a playlist and on Youtube. They can be viewed here. Waiting on the last 2 to upload.

[2021-03-15 20:51] danry25 opened #172 "Forgetting Something shows up twice"
**Describe the bug**
The "Forgetting Something" prompt shows up twice when porting in phone numbers. It also recommends buying numbers when those are already in the cart

**To Reproduce**
Steps to reproduce the behavior:
1. Add some numbers to port in to the cart via the Lookups page
2. Click on Cart
3. See error

**Expected behavior**
The Forgetting Something prompt should show up only once at th

[2021-03-15 20:57] danry25 opened #173 "BulkVS Port Request Failure"
**Describe the bug**
Submitting a port request to BulkVS (specifically request 1630497) only added 1 phone number to the port request, despite 3 numbers being on the port request.

**Expected behavior**
An error should have been generated since the numbers were not all on the same carrier and could not be submitted in a single port request

**Additional context**
I did add the number ending in 164

[2021-03-15 20:59] danry25 opened #174 "Teli Port Request Failure"
**Describe the bug**
Trying to submit the port request for the number ending in 3226 resulted in the following error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the Ops app and search for the relevant order
2. Click on Submit to Teli
3. See error

**Expected behavior**
The port request should have submitted to Teli.

[2021-03-15 21:07] #172 closed

[2021-03-15 21:08] uncheckederror commented on #166
We currently don't list either of the Yealink T54W and Yealink CP930W on our website.

[2021-03-15 22:49] #174 closed

[2021-03-15 22:51] #173 closed

[2021-03-16 05:02] danry25 opened #175 "Discount code does not update Total"
**Describe the bug**
On AccelerateNetworks.com applying a coupon does not update the draft total. The bill is generated properly in InvoiceNinja.

**Screenshots**
![image](https://user-images.githubusercontent.com/1683673/111258396-2381b580-85da-11eb-8973-7e3358670e3e.png)

[2021-03-16 05:13] #175 closed

[2021-03-16 18:06] uncheckederror commented on #149
I have deployed new builds of the Mvc and Ops apps where the dependency on the state's sale tax API is replace with our own Sale Tax API.

[2021-03-16 18:06] #149 closed

[2021-03-16 18:08] uncheckederror commented on #166
@Chattaeus plz review the text steps https://acceleratenetworks.com/Phones/T54W

[2021-03-16 18:27] uncheckederror commented on #144
Looks like they are going to implement it: https://bugzilla.mozilla.org/show_bug.cgi?id=1283388#c2

[2021-03-17 02:31] danry25 opened #176 "Expand content on homepage"
**How will this improve revenue or reduce our costs? Please provide a complete explanation!**
Number Search as a header for the search field is not enticing. We should also add different types of content below the fold to lengthen our homepage

**Is your feature request related to a problem? Please describe.**
Currently the homepage is rather short :(

**Describe the solution you'd like**
Update t

[2021-03-17 03:52] #176 closed

[2021-03-20 03:27] danry25 opened #177 "Add images for hardware page"
**How will this improve revenue or reduce our costs? Please provide a complete explanation!**
Offering more items for sale will enable us to improve revenue

**Is your feature request related to a problem? Please describe.**
We don't currently list all of the phones we sell on the website.

**Describe the solution you'd like**
Add the photos for the following items so we can add the items to the h

[2021-03-20 03:34] uncheckederror commented on #177
ok

[2021-03-20 22:54] uncheckederror commented on #177
These images and products are live on the hardware page. The prices and descriptions need to be updated for accuracy.

[2021-03-21 04:52] danry25 commented on #177
I have updated the description for these items, and I am sure @scottstrong206 would appreciate your slight price bump on the Yealink WH62 Mono :D

Can we also add these items? I have already built out the item in the Ops app, just add the image path and make it publicly visible.
https://www.teledynamics.com/#/productdetails/YEA-BLT60
https://www.teledynamics.com/#/productdetails/YEA-CP960-WM

[2021-03-21 06:36] #177 closed

[2021-03-21 06:36] uncheckederror commented on #177
Those two images are now live on the hardware page.

[2021-03-26 17:57] danry25 opened #178 "Update image of Cordless Handsets on homepage"
**How will this improve revenue or reduce our costs? Please provide a complete explanation!**
The new images will fit with the color scheme of the website by having a white background rather than a blue one. Additionally, we can write flavor text that appeals to our target customer better than the flavor text embedded in [the current image](https://helpdesk.grandstream.com/system/upload_files/data

[2021-03-26 18:15] danry25 opened #179 "Expose price list to partners"
**How will this improve revenue or reduce our costs? Please provide a complete explanation!**
Currently we send a spreadsheet of device costs to our partners so they understand what the hardware cost is for each item and what their percentage of the profit will be. If we could enable self service for this, it would reduce questions from our partners and create a single source of truth.

**Describe

[2021-03-30 23:44] #179 closed

[2021-04-11 03:28] danry25 opened #180 "Current Version File for Linphone Android"
**How will this improve revenue or reduce our costs? Please provide a complete explanation!**
Linphone Android checks a RELEASE file to see if there is a new version available, this is hosted on a website. Currently we have not overriden this string in our custom build, meaning the Linphone release on April 6th 2021 causes our build to warn that it is out of date.

This creates additional support

[2021-04-11 06:24] uncheckederror commented on #180
@danry25 can you provide an example "release" file? I'd like to review the formatting, or is it literally just this one line?

[2021-04-11 07:14] danry25 commented on #180
@uncheckederror See Linphone's Release file linked to at the end of the second paragraph of the "How will this improve revenue or reduce our costs? Please provide a complete explanation!" section. It appears to just be a plain text file containing just one line.

[2021-04-11 17:49] uncheckederror commented on #180
Okay, this change has been shipped.

https://acceleratenetworks.com/releases/android/RELEASE

[2021-04-12 17:44] Chattaeus opened #181 "Number Search by Location/Ratecenter"
**How will this improve revenue or reduce our costs? Please provide a complete explanation!**
Currently customers ask about why our numbers show up as Vashon or why they can't find a number for the specific city they operate in when they're available, just further down the list. It would allow customers to feel more comfortable with ordering numbers on their own if they can search them just by the

[2021-04-12 20:21] danry25 commented on #181
@Chattaeus Please use the correct template for feature requests, and label the issue appropriately (is this internal facing only (eg: Ops app) or external (acceleratenetworks.com), are you asking for a new feature (enhancement) or is a current feature broken (bug)?

Here is a list of ratecenters for [360](https://localcallingguide.com/lca_listexch.php?npa=360) and [541](https://localcallingguide.c

[2021-04-13 17:33] Chattaeus commented on #181
@danry25 When I created the issue I thought I answered all the questions is asks you to answer when creating the issue, where is the correct template? I filed this under feature requests, wouldn't everything under that category be an "enhancement" since we're requesting a feature?

Regardless it seems like something @uncheckederror might be able to do. My number being listed as Vashon has generate

[2021-04-13 18:01] danry25 commented on #181
@Chattaeus When you create a new issue you should see this:
![image](https://user-images.githubusercontent.com/1683673/114598235-8781b300-9c46-11eb-83b7-b03c1df5e196.png)
Both choices will send you to a template that asks you a few questions:
![image](https://user-images.githubusercontent.com/1683673/114598411-b6982480-9c46-11eb-82db-242c894a316a.png)

Guessing you cleared this template out when c

[2021-04-13 18:26] Chattaeus commented on #181
I'll add the template in.

I disagree on the last point, that city that shows up in the caller ID by default generates a lot of questions. It may not make much difference on our end but people tend to assume you are from exactly where it says. Unless we want to change caller ID for every number people will ask about it.

[2021-04-13 18:31] danry25 commented on #181
We should be setting the caller ID for every number used for outbound calling. It is on the issue backlog for us currently.

[2021-04-14 17:56] uncheckederror commented on #180
@danry25 can you close this if we're good?

[2021-04-14 17:58] uncheckederror commented on #181
Should I remove the city/state column from the number search results?

[2021-04-14 19:03] #180 closed

[2021-04-14 19:04] danry25 commented on #181
@uncheckederror No, lets keep it. By Recommended and Sequential, could a third button be added to filter by ratecenter?

[2021-04-15 21:08] uncheckederror commented on #181
Try it out here: https://acceleratenetworks.com/Search?Query=hello&View=Location&Page=1

The results are ordered by the ratecenter/city name from A to Z.

[2021-04-15 23:38] Chattaeus commented on #181
Looks good. Is there any way to search by location? About the only way I could find was to sort by location and then change the page number in the URL since you can only scroll through one page at a time. If not this is still definitely an improvement.

[2021-04-16 00:42] uncheckederror commented on #181
@Chattaeus there is currently no way to search by location. We could add this ability @danry25.

[2021-04-16 01:15] danry25 commented on #181
@uncheckederror I thought I was asking to filter by ratecenter in my comment yesterday, not just sort by ratecenter?

Additionally, the ratecenter names in your example link from earlier today are ugly, I think it would be best if we replaced them with the actual city name and 2 character state from [this API](https://localcallingguide.com/xmlprefix.php?npa=774&nxx=355) (specifically see the nicel

[2021-04-17 17:15] uncheckederror commented on #181
I have integrated the API you provided into the ingest process to clean up the ratecenter/region names. We preform lookups on numbers ingested from BulkVS and FirstCom as the data they provide is lame or non existent.

[2021-04-17 21:56] uncheckederror commented on #181
How are we going to handle the mixing of location names and phone numbers? The existing search process will convert all text characters to the matching number on a telephone dial pad. We could have a completely separate search page that only looks through ratecenters and regions. The primary search page would be search by dialed number and the secondary page would be search by location name. I am

[2021-04-17 23:00] danry25 commented on #181
@uncheckederror When someone clicks on Location why don't we just show them a list of ratecenters with available numbers, and place a checkbox next to each ratecenter?

In most area codes we only stock numbers in a handful of ratecenters.

[2021-04-18 21:10] uncheckederror commented on #181
@danry25 @Chattaeus ok, try this out: https://acceleratenetworks.com/Search?Query=425&City=Halls%20Lake&View=Location&Page=1

[2021-04-19 04:29] Chattaeus commented on #181
Oh that's good. That's really good. You're like a wizard or something.

[2021-04-19 04:32] #181 closed

[2021-04-21 23:17] danry25 opened #182 "Readd Contact Form"
**How will this improve revenue or reduce our costs? Please provide a complete explanation!**
@andrewstiefel has requested we re-add this Contact form as we rework the website. He plans to tweak the form to make it more appealing to potential clients.

**Describe the solution you'd like**
Revert the removal of this [data access model](https://github.com/AccelerateNetworks/NumberSearch/commits/mast

[2021-04-22 02:22] uncheckederror commented on #182
This page existed for over a year before we removed it. It had a large call to action button on the home page. Not a single customer submitted a contact request in that time. Customers were more likely to directly place an order for products on our website then they were to fill out a contact request form. The customers that do contact us through the website almost always contact sales directly by

[2021-04-22 02:48] danry25 commented on #182
@uncheckederror I hear you, hopefully @andrewstiefel can justify re-adding this form. I tried to find it on archive.org but it appears this form was both added and removed before the site was snapshotted again in 2020.

@andrewstiefel The [Talk To Us](https://web.archive.org/web/20201111193715/https://acceleratenetworks.com/) button used to link to this Contact Us form.

[2021-04-23 07:47] Chattaeus opened #183 "Website Video Updates"
**Describe the bug**
We have an video that has a newer version (T54W Initial Setup) and 2 missing videos wifi and change ringtone for the T54W. The current list of T54W videos is here:

https://www.youtube.com/playlist?list=PLy8FSfLD62uOI8IdA_GYBCo7fjFN-v6Hd

The same changes will need to be made for the 2615 and 2170, 2135 less wifi for the latter models. Playlists below:

https://www.youtube.com

[2021-04-23 17:02] danry25 commented on #183
@Chattaeus Would you feel comfortable editing this yourself, then make a pull request to merge it back into the master branch?

[Here is where](https://github.com/AccelerateNetworks/NumberSearch/tree/master/NumberSearch.Mvc/Views/Phones) those 4 phone files are at, just press the pencil in the upper right corner, make your changes, choose " Create a new branch for this commit and start a pull requ

[2021-04-24 01:19] uncheckederror commented on #183
@Chattaeus did you intend to remove the T54W card and link from the Support page?

[2021-04-24 01:21] danry25 commented on #183
@uncheckederror 95% sure he didn't mean to remove the T54W card and link from the Support page, I don't see any commit from @Chattaeus doing that.

The point of this issue is to update some of the existing videos used in the T54W card and add a few other cards for other models of phones.

[2021-04-24 01:44] uncheckederror commented on #183
Interesting, when I run the branch he made, that card is removed.

[2021-04-24 19:18] andrewstiefel commented on #182
@uncheckederror and @danry25 It doesn't surprise me that no one filled out the form previously.

The goal is to create a sales lead generation page, not a generic contact us page, to drive revenue by emphasizing and expanding your sales and service story here. I think it is worth reworking this page with information about how to request a demo/quote, what to expect when working with you, and provi

[2021-04-27 02:28] uncheckederror commented on #182
@andrewstiefel ok, this first example is more or less what the original contact us page was before we gave up on it: https://www.goto.com/connect/try

This second example appears to be a contact form + sales pitch: https://www.ringcentral.com/lp/small-business-phone-service.html#ring-s-off

Both the current home page: https://acceleratenetworks.com/ and the about us page: https://acceleratenetwork

[2021-05-05 15:15] andrewstiefel commented on #182
I agree: the goal is to get customers to call or email so Scott and Kyle
can work with them.

As you pointed out, there is no clearly labeled path to engage the sales
team to request more information, a quote, or a demo. The only way to get a
quote is through the checkout cart, but there is no indication on the
website that you should follow that path. Having contact info visible is
important, but

[2021-05-10 19:48] danry25 opened #184 "Suggest and validate addresses"
**How will this improve revenue or reduce our costs? Please provide a complete explanation!**
Customers are currently submitting invalid and poorly formatted addresses through our website, preventing us from easily registering them for 911 service and shipping/delivery. Validating addresses will lower our ongoing support cost.

**Describe the solution you'd like**
We should validate the address us

[2021-05-16 05:27] uncheckederror commented on #184
I have reviewed these API and the UPS and USPS API's and I believe that we should go with another alternative API from ESRI that responds to public requests and is designed for autocomplete: https://developers.arcgis.com/rest/geocode/api-reference/geocoding-suggest.htm

Here is a sample query that returns JSON:

https://geocode.arcgis.com/arcgis/rest/services/World/GeocodeServer/suggest?text=4415

[2021-05-25 19:17] uncheckederror opened #185 "Add Google Reviews to the Landing Page"
Adding google reviews to our landing page will gives users confidence in our services and highlight our successful prior work.

[2021-05-25 19:18] uncheckederror commented on #185
@danry25 please select 3 google reviews of the business that you would like to see on the home page and paste the text here.

[2021-05-26 22:53] uncheckederror commented on #185
This change is in:

![image](https://user-images.githubusercontent.com/11726956/119741405-7e395800-be3a-11eb-94fc-c63524370813.png)

@danry25 please verify that this is fix and close the issue.

[2021-05-26 23:27] uncheckederror commented on #184
@danry25 Autocomplete has been implemented for the "Address" field.

![image](https://user-images.githubusercontent.com/11726956/119743607-1a655e00-be3f-11eb-9fd3-9c864b2e2c26.png)

[2021-05-27 00:54] danry25 commented on #185
@andrewstiefel @scottstrong206 Please review the change and close the issue if resolved. We also need to create issues for the other changes @andrewstiefel has suggested.

[2021-05-27 20:25] uncheckederror commented on #184
@danry25 has suggested that we convert the address fields from being multiple boxes to being a single omni box and then breaking up the address once it's been submitted through the form.

[2021-05-27 20:57] danry25 commented on #184
I would like us to accept only validated address in the omnibox, and rename Address 2 to be Unit (optional) with a dropdown of the following choices followed by a freeform text box for a unit # or letter.

Unit Types:
Apartment
Basement
Building
Department
Floor
Front
Hanger
Lobby
Lot
Lower
Office
Penthouse
Pier
Rear
Room
Side
Space
Suite
Trailer
Unit
Upper

This corresponds to the [Unit type and

[2021-05-28 04:45] uncheckederror commented on #184
@danry25 like this?

![image](https://user-images.githubusercontent.com/11726956/119930707-ca68c300-bf34-11eb-9f2a-953a1a5e4852.png)

[2021-05-28 05:34] uncheckederror commented on #184
More work on refining this page:
![localhost_44316_Cart_Checkout](https://user-images.githubusercontent.com/11726956/119935033-abb9fa80-bf3b-11eb-9e98-b9fcd811f2b5.png)

[2021-05-28 06:41] uncheckederror commented on #184
The revised checkout page is now live.

[2021-06-02 21:54] uncheckederror commented on #184
@danry25 are we good on this now?

[2021-06-02 23:40] danry25 commented on #184
Looks good to me @uncheckederror !

[2021-06-02 23:40] #184 closed

[2021-06-07 02:42] andrewstiefel commented on #185
Looks great, thank you!

[2021-06-07 02:42] #185 closed

[2021-06-14 01:28] danry25 opened #187 "Address Validation Failing in Ops"
**Describe the bug**
Trying to update an order in Ops shows "Please match requested format." warning below Address field unless full address (eg: 2318 E Cherry St, Seattle, WA, 98122, USA rather than the prefilled building number and suite) is entered into the Address field in the Ops app.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to an incomplete order on https://ops.acceleratenetw

[2021-06-14 15:37] danry25 commented on #187
To recap the conversation between @uncheckederror and myself, the address field in the Ops app should become an omnibox for all address components excluding the unit type and number, and we will enforce that the address field contains five commas and is found in Esri's API for valid addresses.

Additionally, when someone clicks into an address field that has more than a few characters in it we wil

[2021-06-14 15:42] danry25 opened #188 "Syncing with InvoiceNinja, Discounts & Refurb Hardware"
**How will this improve revenue or reduce our costs? Please provide a complete explanation!**
Currently our sales team is creating orders on the website then modifying the hardware invoice in the billing system (eg: $20 off per phone, or refurb phone discount), causing the order copy shown on acceleratenetworks.com to be inaccurate, which makes some of our team and a subset of customers nervous an

[2021-06-14 18:19] scottstrong206 opened #189 "E911 Connectivity Fee not charged"
**Describe the bug**
We aren't charging e911 connectivity fee automatically for each line or seat.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Acceleratenetworks.com
2. Click on Add services and check out
3. See no e911 fee on billing system

**Expected behavior**
An e911 fee is $2.71, should be billed for each line or seat.

[2021-06-14 18:22] scottstrong206 opened #190 "Add Quentin sales drop down"
**How will this improve revenue or reduce our costs? Please provide a complete explanation!**
This will help connect customers to Quentin as they order.

**Describe the solution you'd like**
Add Quentin to the sales drop down
Quentin@acceleratenetworks.com

[2021-06-15 02:02] uncheckederror commented on #190
Okay, Quentin is now on the list of selectable Sale Reps on the checkout page:

![image](https://user-images.githubusercontent.com/11726956/121981714-07112880-cd43-11eb-92b4-626db2b959ab.png)

[2021-06-15 02:03] uncheckederror commented on #190
@scottstrong206 do we need to get Quentin's headshot on the about us page too? https://acceleratenetworks.com/Home/About

[2021-06-15 03:41] uncheckederror commented on #166
This work was completed as part of #183.

[2021-06-15 03:41] #166 closed

[2021-06-15 04:12] uncheckederror commented on #183
Okay all of the changes are live. Enjoy! 😋 @Chattaeus @danry25

[2021-06-15 04:12] #183 closed

[2021-06-15 04:13] uncheckederror commented on #167
@danry25 is this possible through the new dsip router APIs?

[2021-06-15 04:16] uncheckederror commented on #189
@scottstrong206 @danry25 I'm thinking that this fee shows as a separate line item on the checkout page? Or should we just add it to the base cost of a line/seat?

Do you want the ability to remove this fee from an order? Like a checkbox that says "Skip E911 registration".

[2021-06-15 04:19] uncheckederror commented on #188
I think in the end we'll need to sync data from the billing system back into the Mvc app. But it will be limited to what data we can query out of InvoiceNinja for the invoice related to the order in question. I will have to research this topic more.

[2021-06-15 07:46] danry25 commented on #190
@uncheckederror We do need to do headshots for both @scottstrong206 and Quentin, would you be willing to do some headshots with these two? We really like how your other headshots came out.

@scottstrong206  was also wondering if there could be a way to link to a particular card [on the About page](https://acceleratenetworks.com/Home/About), as that way we could put a QR code on business cards and

[2021-06-15 18:49] uncheckederror commented on #190
@danry25 sure we can do headshots.

@scottstrong206 yeah, I've added little id tags to the page to support linking ( ex. Scott is https://acceleratenetworks.com/About#scott )

[2021-06-15 23:35] scottstrong206 commented on #190
@uncheckederror I'll check with Quentin to see his schedule. Maybe we can meet on Saturday or Sunday?

[2021-06-16 18:30] uncheckederror commented on #190
@scottstrong206 yeah, this weekend works good.

[2021-06-16 18:30] #190 closed

[2021-06-17 00:46] uncheckederror commented on #187
@danry25 can you verify that you're good with the current state of the address box in the Ops app?

[2021-06-24 03:44] uncheckederror commented on #189
This will be a separate billing item that only shows up when you go to the checkout page.

[2021-06-24 03:45] #187 closed

[2021-06-24 04:35] uncheckederror opened #191 "Respect Quote Checkbox in Ops"
**Describe the bug**
Currently when the quote checkbox is selected, our team is presented with an order that needs to be worked (porting information gathered, hardware shipped out, or port request submitted) in the Ops app.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the Ops page
2. Click on Orders
3. See many "orders" that are actually quotes for new potential clients

**Expected

[2021-06-24 04:41] uncheckederror opened #192 "Button Labels Show Quotes as Invoices"
**Describe the bug**
When the Quote box is checked on our website, a quote is generated as part of the order, but the text of the link to the quote in the Ops app references these as an Upfront Invoice or Recurring Invoice rather than as a quote.

Additionally the status of a quote isn't "Pending quote approval", but rather another status like "⭕ Ship the hardware to the customer for self-install"

[2021-06-24 04:44] uncheckederror opened #193 "Set correct CORS header in Ops app"
**Describe the bug**
The address field in an order in Chrome appears to not suggest addresses due to the mode: "no-cors" header not being set: https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API/Using_Fetch

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ops.acceleratenetworks.com
2. Click on Orders
3. Scroll down to Edit on an order
4. Edit the address, look at Chrome Dev Tools

[2021-06-24 04:54] uncheckederror opened #194 "Set E911 address for main number"
**How will this improve revenue or reduce our costs? Please provide a complete explanation!**
Currently our support team sets the E911 address for the main phone number by hand. Automating this process will simplify our support workflow.

**Is your feature request related to a problem? Please describe.**
Occasionally this process is not fully adhered to, causing data entry errors that result in co

[2021-06-24 05:25] uncheckederror opened #195 "Integrate New Client Worksheet into post-order flow"
**How will this improve revenue or reduce our costs? Please provide a complete explanation!**
The new client worksheet gathers the customer requirements for their new phone system. Currently, salespeople forget to send this form, and clients often forget to fill it out until after our technician shows up on site (or the phones are shipped to them).

By moving this form to a webpage that the custom

[2021-06-24 18:29] uncheckederror commented on #193
I don't believe the display is getting blocked by the CORS issue, rather it that the text of the address isn't exactly one of the suggested addresses returned by the API so they are being filtered out of the list and not displayed.

[2021-06-24 21:34] uncheckederror commented on #192
@danry25 this change is live. Please close this issue if you approve.

[2021-06-24 23:10] uncheckederror commented on #191
In order to check if a quote has been converted into an order in the billing system we'll need to poll the billing system to get the status of the quotes related to each order on a regular basis.

[2021-06-24 23:12] danry25 commented on #192
![Screenshot from 2021-06-24 16-11-25](https://user-images.githubusercontent.com/1683673/123343607-f14ff000-d506-11eb-9e3c-2131540d5bcb.png)
Looks good to me @uncheckederror!

[2021-06-24 23:12] #192 closed

[2021-06-24 23:24] danry25 commented on #191
@uncheckederror To check on a quote and see if it has been converted to an invoice, run it through the invoices endpoint and look for "quote_invoice_id" which will be zero if the quote is not approved, or it will be set to the new invoice ID (a higher number than the quote #) if the quote has been approved.

[code]

[2021-06-24 23:26] uncheckederror commented on #191
@danry25 How often would we want to check on the status of invoices to see if they've been approved in the billing system? Once per day like the owned numbers or once every 15 minutes like the priority numbers?

[2021-06-24 23:28] danry25 commented on #191
Lets do it once every 15 minutes, our sales team likes to alter invoices as the clients change their orders to fit their actual business needs.

[2021-06-24 23:50] danry25 opened #196 "Putting a suite number in the Address field causes address suggestions to be hidden"
**Describe the bug**
When I input an address in Ops, say 411 S Dawson St STE A, I see the datalist id=addressoptions is generated with multiple valid addresses, but the dropdown is not displayed to the user. This bug appears to also affect the main website
**To Reproduce**
Steps to reproduce the behavior:
1. Go to acceleratenetworks.com
2. Click on checkout (with objects in your cart)
3. Open Dev

[2021-06-25 02:38] uncheckederror commented on #196
This is a duplicate of #193. The input filters the datalist elements based on the text currently in the input box by exact or partial matching. If you've entered incorrect characters all of the results in the datalist will be hidden by this filtering.

[2021-06-26 21:26] danry25 opened #197 "Failed to submit port request to BulkVS: Object reference"
**Describe the bug**
I get " Failed to submit port request to BulkVS: Object reference not set to an instance of an object. at NumberSearch.Ops.Controllers.HomeController.UnifiedPortRequestAsync(String OrderId) in /home/vsts/work/1/s/NumberSearch.Ops/Controllers/HomeController.cs:line 1582 " when trying to submit the most recent port request

**To Reproduce**
Steps to reproduce the behavior:
1. Go

[2021-06-27 05:10] uncheckederror commented on #191
@danry25 this change is live.

[2021-06-27 05:10] #191 closed

[2021-06-27 20:18] uncheckederror commented on #197
Not sure what happened here, I tried to reproduce this error but the Port Request was accepted by BulkVS. You can verify that the two numbers have been submitted by looking at the order in the Ops app. I have added additional logging to capture the responses from BulkVS.

Line 1582 is where the Address is parsed into the format that BulkVS expects so this could have broken because the Address asso

[2021-06-27 23:03] #197 closed

[2021-06-29 04:06] uncheckederror commented on #196
To solve this issue we'd have to quit using the datalist HTML element.

[2021-06-29 04:07] uncheckederror commented on #193
Closing this to continue in #196.

[2021-06-29 04:07] #193 closed

[2021-06-29 04:08] uncheckederror commented on #194
@danry25 how do we tell what the main phone number is for a business?

[2021-06-30 00:34] uncheckederror commented on #189
@danry25 @scottstrong206 this feature is now live. Here's an example order with it: https://acceleratenetworks.com/cart/order/0b064c56-5400-460e-b8b6-53f1369e20ce

[2021-07-02 05:47] uncheckederror commented on #196
@danry25 please review and close this, if you approve.

[2021-07-02 18:59] danry25 opened #198 "Add Accessories Tab to Hardware Page"
**How will this improve revenue or reduce our costs? Please provide a complete explanation!**

We can offer spare GRP or GXP deskphone handsets, batteries, belt clips and rear covers for our cordless handsets and other parts without having these be one off support requests requiring more manual labor.

**Is your feature request related to a problem? Please describe.**
Customers break, wear through